@use "vars" as *;

/* ====================================================
HTML
==================================================== */
html {
    font-size: 62.5%;
	//font-size: 100%;//16px
	//@include mq(md-min){
	//   font-size: 62.5%;
	//}
}

body {
	color: #000;
	@include font-fm($font-base, 400); 
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
	background: #fff;
	&.has-modal{
		overflow: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

a {
	display: inline-block;
	color: inherit;
    text-decoration: none;
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
