@use "vars" as *;

/* ====================================================
Control
==================================================== */
.c-fc{ //font-color
	&--ff{
		color: #fff
	}
}





.c-fw{//font-weight
	&--lt{
		font-weight: 300!important
	}
	&--rg{
		font-weight: 400!important
	}
	&--md{
		font-weight: 500!important
	}
	&--sbd{
		font-weight: 600!important
	}
	&--bd{
		font-weight: 700!important
	}
	&--bk{
		font-weight: 900!important
	}
}



.c-tx--v {//Vertical writing
	//display: inline-block;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	&-pc{
		@include mq(md-min) {
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	}
}



.c-al{//text-align
	&--c{
		text-align: center!important
	}
	&--r{
		text-align: right!important
	}
	&--l{
		text-align: left!important
	}
}



.c-val{//vertical-align
	&--md{
		vertical-align: middle
	}
	&--top{
		vertical-align: top
	}
}





/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__01{//14/29
		@include fts(14,29);
		@include mq(sm) {
			line-height: 1.8;
		}
	}
	&__add{
		@include font-size(16);
		font-weight: 600;
		color: $color-main;
		display: inline-flex;
		align-items: center;
		width: 230px;
		height: 48px;
		outline: 0;
		border: none;
		background: none;
		cursor: pointer;
		@include fn-hover;
		@include p-before(24px, 24px){
			background: url(../img/common/ico-plus-or.png) no-repeat center/100%;
			position: relative;
			margin-right: 8px;
		}
	}
}



// Common Title style
%__c-ttl__01{
	display: inline-block;
	position: relative;
	padding-right: 64px;
	color: $color-main;
	@include font-size(15);
	@include font-fm($color-main,400);
	@include p-before(54px, 2px){
		@include v-align;
		right: 0;
		background: $color-main;
	}
}


.c-ttl{
	&__01{
		font-family: $font-Monterrat;
		font-weight: 700;
		margin-bottom: 16px;
		@include font-size(16);
	}
	&__02{
		@include font-size(50);
		line-height: 1.2;
		font-weight: 700;
		@include mq(lg){
			font-size: c-max-size(34px, 6vw);
		}
		&-cap{
			display: block;
			margin-top: 15px;
			font-size: 35%;
			@include mq(sm){
				font-size: c-max-size(15px, 35%);
			}
		}
	}
	&__03{
		@include fts(24, 33.6);
		font-weight: 600;
		background: -webkit-linear-gradient(#F5601B, #FF862A);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 12px;
		@include mq{
			@include font-size(20);
		}
	}
	&__04{
		@include font-size(14);
		font-weight: 600;
		color: #64748B;
	}
}


.c-dots{
    @include fts(16, 22.4);
    @include mq{
        @include fts(14, 19.6);  
    }
    li{
        margin-bottom: 10px;
        @include mq{
            margin-bottom: 17px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        ul{
            padding-left: 47px;
        }
    }
    &--styles02{
        @include mq{
            @include fts(16, 22.4);
            li{
                margin-bottom: 0;
            }
        }
    }
}


// Common Button style

%__c-btn__01{
	@include flex(center, center);
	background: linear-gradient(90deg, #F5601B 0%, #FF862A 100%);
	width: 100%;
	height: 50px;
	border-radius: 8px;
	color: #fff;
	@include font-size(16);
	font-weight: 600;
	outline: 0;
	border: none;
	cursor: pointer;
	margin-top: 24px;
	@include mq{
		margin-top: 22px;
	}
	&:hover{
		background: linear-gradient(79.26deg, #F5601B -758.89%, #F5601B 397.15%);
		opacity: 1;
		transition: .3s ease all;
	}
}



.c-btn__01{
	@extend %__c-btn__01;
	&--gray{
		background: #E2E8F0 !important;
		color: #0F1A2A;
	}
	&--add{
		max-width: 140px;
		position: relative;
		margin-top: 0;
		@include p-after(24px, 24px){
			background: url(../img/common/plus.png) no-repeat center/100%;
			position: relative;
			margin-left: 10px;
		}
	}
	&--dropdown{
		max-width: 140px;
		position: relative;
		margin-top: 0;
		@include p-after(24px, 24px){
			background: url(../img/common/chevron-down-white.png) no-repeat center/100%;
			position: relative;
			margin-left: 10px;
			@include smooth-transition;
		}
	}
	&--blue{
		background: #0072F8;
		color: #fff;
		max-width: 192px;
	}
}

.c-btn__delete{
	max-width: 50px;
	display: inline-flex;
	align-items: center;
	@include font-size(14);
	font-weight: 500;
	font-family: $font-Monterrat;
	color: #ED2649;
	@include p-before(20px, 20px){
		background: url(../img/common/trash.png) no-repeat center/100%;
		position: relative;
		margin-right: 3px;
	}
}


  



