@use 'vars' as *;

.cms-main{
	@include flex(0, 0);
}
.cms-sidebar{
	width: 330px;
	background: #0F1A2A;
	min-height: 100vh;
	position: fixed;
	&__logo{
		padding: 16px 24px;
		border-bottom: 1px solid #fff;
		a{
			display: block;
			width: 225px;
		}
	}
	&__nav{
		padding: 24px 16px;
		li{
			margin-bottom: 8px;
			&:last-of-type{
				margin-bottom: 0;
			}
			a{
				display: block;
				@include font-size(16);
				color: #94A3B8;
				padding-left: 64px;
				position: relative;
				padding: 16px 0 16px 64px;
				border-radius: 16px;
				@include p-before(48px, 48px){
					top: 0;
					left: 0;
				}
			}
			&:nth-child(1){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-01.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(2){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-2.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-2-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(3){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-3.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-3-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(4){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-4.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-4-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(5){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-5.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-5-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(6){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-6.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-6-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(7){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-7.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-7-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(8){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-8.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-8-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&:nth-child(9){
				a{
					&::before{
						background: url(../img/common/ico-sidebar-9.png) no-repeat center/100%;
					}
				}
				&.is-active{
					a{
						&::before{
							background: url(../img/common/ico-sidebar-9-active.png) no-repeat center/100%;
						}
					}
				}
			}
			&.is-active{
				a{
					color: #fff;
					background: #00000080;
					box-shadow: 0px 4px 24px 0px #2000000A;
				}
			}
			&:hover{
				a{
					color: #fff;
					background: #00000080;
					box-shadow: 0px 4px 24px 0px #2000000A;
				}
			}
		}
	}
	&__heading{
		
	}
}
.cms-content{
	width: calc(100% - 330px);
	margin-left: auto;
	margin-right: 0;
	background: rgba(#2955AA, .07);
}

.cms-wrapper{
	padding: 0 30px;
}

.cms-heading{
	padding: 15px 30px;
	@include flex(between, 0, wrap);
	background: #fff;
	box-shadow: 0px 5px 8px 0px rgba(#2955AA, .11);
	&__ttl{
		@include font-size(24);
		font-family: $font-Averta-Bold;
		@include flex(0, center);
		padding-left: 40px;
		@include p-before(24px, 24px){
			background: url(../img/common/before-ttl.png) no-repeat center/100%;
			position: relative;
			margin-right: 16px;
		}
	}
	&__control{
		@include flex(end, center);
		gap: 0 30px;
		&-user{
			width: 230px;
			position: relative;
			>a{
				@include flex(between, center, wrap);
				@include fn-hover;
				position: relative;
				@include p-after(18px, 18px){
					background: url(../img/common/chevron-down-02.png) no-repeat center/100%;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					transition: .3s ease all;
				}
				&.is-active{
					&:after{
						transform:  translateY(-50%) rotate(180deg);
					}
				}
			}
		}
		&-avatar{
			width: 50px;
		}
		&-info{
			width: calc(100% - 50px);
			@include font-size(16);
			padding-left: 16px;
			.position{
				display: block;
				@include font-size(12);
				color: #94A3B8;
				padding-top: 5px;
			}
		}
	}
}


.c-dropdown{
	position: absolute;
	top: 80px;
	left: 0;
	width: 220px;
	background: #fff;
	z-index: 2;
	padding: 16px;
	display: none;
	box-shadow: 0px 8px 16px 0px #8DA0D01F;
	li{
		margin-bottom: 4px;
		&:last-of-type{
			margin-bottom: 0;
		}
		a{
			@include flex(start, center);
			font-family: $font-Monterrat;
			font-weight: 600;
			@include font-size(16);
			height: 48px;
			gap: 0 8px;
			@include fn-hover;
		}
		&:last-of-type{
			a{
				color: #F31542;
			}
		}
	}
}