@use 'vars' as *;

.system-page{
    padding: 24px 30px;
    min-height: 100vh;
    &__ttl{
        @include font-size(20);
        font-weight: 600;
        margin-bottom: 15px;
    }
}




//styles page detail
.engineer-detail{
    padding: 16px 0 30px;
    background: #F6F8FC;
    &__heading{
        @include flex(between, center);
        margin-bottom: 35px;
        .c-ttl__02{
            margin-bottom: 0;
        }
    }
    &__intro{
        background: #fff;
        border-radius: 16px;
        box-shadow: 2px 2px 10px 0px #7E91D324;
        @include flex(0, start, wrap);
        padding: 10px 13px;
        margin-bottom: 16px;
        @include mq(sm){
            padding: 0;
        }
        &-img{
            width: 31.6%;
            border-radius: 16px;
            overflow: hidden;
            @include mq(tb){
                width: 45%;
            }
            @include mq{
                width: 50%;
            }
            @include mq(sm){
                width: 100%;
                border-radius:  16px 16px 0 0;
            }
        }
        &-content{
            width: calc(100% - 31.6%);
            padding-left: 30px;
            padding-top: 6px;
            @include mq(tb){
                width: 55%;
            }
            @include mq{
                width: 50%;
                padding-left: 15px;
            }
            @include mq(sm){
                width: 100%;
                padding-left: 0;
                padding-top: 15px;
            }
        }
        &-name{
            @include fts(32, 44.8);
            font-weight: 600;
            margin-bottom: 12px;
            @include mq{
                @include font-size(24);
                text-align: center;

            }
        }
        &-info{
            color: #94A3B8;
            margin-bottom: 10px;
            @include flex(0, 0, wrap);
            gap: 15px 0;
            @include mq{
                max-width: 250px;
                justify-content: center;
                margin: 0 auto;
                position: relative;
                left: -10px;
            }
            .birthday{
                @include font-size(16);
                margin-right: 30px;
                position: relative;
                padding-left: 32px;
                @include mq{
                    margin-right: 0;
                    margin-bottom: 18px;
                }
                @include p-before(24px, 24px){
                    background: url(../img/common/cake.png) no-repeat center/100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            .address{
                @include font-size(14);
                padding-left: 32px;
                position: relative;
                @include p-before(24px, 24px){
                    background: url(../img/common/location.png) no-repeat center/100%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
        &-desc{
            @include fts(14, 19.6);
            margin-bottom: 10px;
            padding-right: 22px;
            @include mq{
                margin-bottom: 0;
                padding: 16px 16px 32px;
                margin-top: 20px;
                border-top: 1px solid #E2E8F0;
            }
            p{
                margin-bottom: 25px;
                @include mq{
                    margin-bottom: 22px;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
        &-control{
            @include flex(0, 0, wrap);
            @include mq{
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                padding: 8px 16px;
                background: #fff;
                z-index: 10;
                justify-content: center;
            }
            .c-btn__01{
                max-width: 228px;
                margin-top: 0;
                @include mq{
                    max-width: 269px;
                    height: 48px;
                }
            }
        }
        &-favorite{
            width: 48px;
            margin-right: 24px;
        }
    }
    // &__private{
    //     overflow: hidden;
    //     border-radius: 16px;
    //     & > *{
    //         display: none;
    //     }
    //     > img{
    //         display: block;
    //     }
    // }
    &__main{
        background: #fff;
        padding: 24px 34px;
        margin-bottom: 65px;
        border-radius: 16px;
        @include mq{
            padding: 20px 16px;
            border-radius: 10px;
            margin-bottom: 30px;
        }
        &-box{
            margin-bottom: 27px;
            @include fts(16, 22.4);
            &:last-of-type{
                margin-bottom: 0;
            }
            @include mq{
                @include fts(14, 19.6);
            }
            
        }
        &-table{
            border-radius: 12px;
            overflow: hidden;
            @include mq{
                border-radius: 12px 0 0 12px;
                overflow-x: scroll;
                margin-right: -16px;
                &::-webkit-scrollbar {
                    width: 12px;
                }
                 
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                    border-radius: 10px;
                }
                 
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                }
            }
            table{
                width: 1222px;
                background: #fff;
                tr{
                    th{
                        font-weight: 600;
                        color: #777E90;
                        background: #E2E8F0;
                    }
                    th, td{
                        @include fts(16, 22.4);
                        vertical-align: top;
                        padding: 19px 16px;
                        @include mq{
                            @include font-size(14);
                            padding: 15px 16px;
                        }
                        &:nth-child(1), &:nth-child(3){
                            width: 200px;
                        }
                        &:nth-child(2){
                            width: 300px;
                        }
                        &:nth-child(4){
                            width: 530px;
                        }
                    }
                    td{
                        padding: 13px 16px;
                        border-left: 1px solid #E2E8F0;
                        border-bottom: 1px solid #E2E8F0;
                        &:last-of-type{
                            border-right: 1px solid #E2E8F0; 
                        }
                        .c-dots{
                            line-height: 1.34;
                            li{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            &--styles02{
                table{
                    tr{
                        th, td{
                            &:nth-child(1){
                                width: 16.39%;
                            }
                            &:nth-child(2){
                                width: 49.18%;
                            }
                            &:nth-child(3){
                                width: 35.24%;
                            }
                        }
                    }
                }
            }
        }
        &-pr{
            strong{
                display: block;
                margin-bottom: 6px;
            }
            @include mq{
                @include fts(16, 22.4);
            }
            p{
                margin-bottom: 10px;
                @include mq{
                    margin-bottom: 16px;
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__control{
        max-width: 190px;
        margin: 0 auto;
    }
}

.c-tabs02{
	li{
		margin-bottom: 4px;
		&:last-of-type{
			margin-bottom: 0;
		}
		a{
			padding: 6px 8px;
			@include font-size(14);
			display: block;
			@include fn-hover;
		}
		&.is-active{
			a{
				color: #F5601B;
				font-weight: 700;
				background: #F1F4F9;
				border-radius: 8px;
				pointer-events: none;
			}
		}
	}
}

.tabs-content{
	display: none;
	@include mq(md-min){
		padding: 19px 16px;
	}
	&.current{
		display: inherit;
	}
	&--selected{
		@include font-size(14);
		line-height: 1.4;
		height: 360px;
		overflow-y: auto;
		label{
			margin-bottom: 20px;
			cursor: pointer;
			display: block;
			@include smooth-transition;
			&:hover{
				color: #F5601B;
				font-weight: 600;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
			input:checked + .txt-checkbox{
				color: #F5601B;
			}
		}
	}
}
.list-skills{
	@include flex(0, 0, wrap);
	gap: 16px;
	@include mq{
		gap: 10px;
	}
	li{
		.txt-checkbox{
			padding: 8px 25px;
			border: 1px solid #D2DFFF;
			border-radius: 30px;
			@include font-size(14);
			font-weight: 600;
			position: relative;
			display: inline-block;
			cursor: pointer;
			@include p-before(calc(100% - 2px), calc(100% - 2px)){
				background: #FFF1ED;
				top: 1px;
				left: 1px;
				border-radius: 30px;
				opacity: 0;
				visibility: hidden;
			}
		}
		input:checked + .txt-checkbox{
			background: linear-gradient(358.91deg, #FC4A1A 0.41%, #FFC6AD 99.18%),
			linear-gradient(0deg, #FFF1ED, #FFF1ED);	
			border-color: #fff;
			span{
				position: relative;
				z-index: 2;
			}
			&::before{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.box-selected{
	padding: 0 21px;
	&__heading{
		padding: 10px 16px;
		@include flex(between, center);
		.txt-delete-all{
			@include font-size(14);
			color: #0072F8;
			border: none;
			outline: 0;
			background: transparent;
			cursor: pointer;
		}
	}
	&__result{
		@include flex(0, 0, wrap);
		gap: 16px;
		li{
			padding: 9px 18px;
			border-radius: 30px;
			@include font-size(14);
			font-weight: 600;
			position: relative;
			display: inline-block;
			cursor: pointer;
			color: #F5601B;
			background: linear-gradient(358.91deg, #FC4A1A 0.41%, #FFC6AD 99.18%),
			linear-gradient(0deg, #FFF1ED, #FFF1ED);	
			@include p-before(calc(100% - 2px), calc(100% - 2px)){
				background: #FFF1ED;
				top: 1px;
				left: 1px;
				border-radius: 30px;
			}
			span{
				position: relative;
				&.btn-detete-selected{
					width: 12px;
					height: 12px;
					background: #fff url(../img/common/x-close.png) no-repeat center/100%;
					position: absolute;
					top: 0;
					right: 0;
					border-radius: 50%;
				}
			}
		}
	}

	&--styles02{
		position: absolute;
		top: 50px;
		left: 0;
		padding: 0 12px;
		width: 87%;
		overflow-x: auto;
		/* custom scrollbar */
		&::-webkit-scrollbar {
			width: 20px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #d6dee1;
			border-radius: 20px;
			border: 6px solid transparent;
			background-clip: content-box;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #a8bbbf;
		}
		.box-selected{
			&__result{
				flex-wrap: nowrap;
				white-space: nowrap;
				li{
					background: #F1F4F9;
					border-radius: 30px;
					padding: 8px 12px;
					display: inline-flex;
					align-items: center;
					justify-content: flex-start;
					@include font-size(12);
					color: #000;
					&::before{
						display: none;
					}
					span{
						&.btn-detete-selected{
							display: block;
							width: 16px;
							height: 16px;
							background: url(../img/common/btn-delete-skills.png) no-repeat center/100%;
							margin-left: 10px;
							position: relative;
							z-index: 2;
							cursor: pointer;
							@include fn-hover;
						}
					}
				}
			}
		}
	}
}