@use 'vars' as *;

.manpower-page{
	&__control{
		@include flex(between, center);
		padding: 16px 30px;
	}
	&__search{
		width: calc(100% - 140px);
		padding-right: 10px;
		@include flex(0, center);
		&-field{
			max-width: 324px;
			width: 100%;
			margin-right: 30px;
			&:last-of-type{
				margin-right: 0;
			}
			&--company-name{
				position: relative;
				@include p-before(20px, 20px){
					background: url(../img/common/search-normal.png) no-repeat center/100%;
					top: calc(50% - 10px);
					left: 10px;
				}
				.form-control{
					padding-left: 44px;
				}
			}
			&--status{
				max-width: 230px;
			}
			.form-control--select{
				background: #fff url(../img/common/chevron-down.png) no-repeat right 15px center/24px 24px;
			}
		}
	}
	&__wp{
		padding: 0 30px;
	}
	&__footer{
		@include flex(between, center);
	}
	&__left{
		@include font-size(14);
		strong{
			font-weight: 700;
			padding: 0 5px;
		}
	}
	&__right{
		@include flex(end, center);
		gap: 0 60px;
		width: 80%;
	}
	&__pagination{
		@include flex(0, 0, wrap);
		gap: 0 10px;
		.page{
			a{
				width: 36px;
				height: 36px;
				border: 1px solid #B1B5C3;
				border-radius: 8px;
				@include flex(center, center);
				@include font-size(14);
			}
			
			&.current{
				a{
					background: linear-gradient(90deg, #F5601B 0%, #FF862A 100%);
					border-color: transparent;
					color: #fff;
				}
			}
		}
		.extend{
			width: 36px;
			height: 36px;
			@include flex(center, center);
			@include p-before(16px, 16px){
				background: url(../img/common/extend-pagination.png) no-repeat center/100%;
				position: relative;
			}
		}
	}
	&__postperpage{
		max-width: 104px;
		width: 100%;
		.form-control{
			cursor: pointer;
			height: 32px;
			padding: 0 16px;
			@include font-size(12);
			color: #000;
			background: url(../img/common/chevron-down.png) no-repeat center right 8px/16px 16px;
			@include fn-hover;
		}
	}
	&__goto{
		max-width: 140px;
		width: 100%;
		@include flex(0, center);
		@include font-size(14);
		white-space: nowrap;
		.form-control--sm{
			width: 50px;
			height: 32px;
			text-align: center;
			margin-left: 8px;
			padding: 0 10px;
		}
	}
}

.action-content{
	display: none;
	position: absolute;
	top: 60px;
	right: 25px;
	width: 155px;
	padding: 4px 8px;
	background: #fff;
	z-index: 10;
	li{
		a{
			height: 54px;
			@include font-size(16);
			font-weight: 600;
			@include flex(0, center);
			@include fn-hover;
			position: relative;
			@include p-before(20px, 20px){
				
				position: relative;
				margin-right: 10px;
			}
		}
	}
	&__edit{
		a{
			@include p-before(20px, 20px){
				background: url(../img/common/edit-2.png) no-repeat center/100%;
			}
		}
	}
	&__delete{
		a{
			@include p-before(20px, 20px){
				background: url(../img/common/trash.png) no-repeat center/100%;
			}
		}
	}
	&--lg{
		width: 194px;
	}
}

.btn-action{
	width: 20px;
	height: 20px;
	background: url(../img/common/more-horizontal.png) no-repeat center/100%;
	outline: 0;
	border: none;
	cursor: pointer;
	@include fn-hover;
	&.is-active{
		background: url(../img/common/more-horizontal-active.png) no-repeat center/100%;
	}
}