@use "vars" as *;

/* ====================================================
Layout
==================================================== */

.inner{
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	@include mq() {
		width: 100%;
		padding: 0 5%
	}
}




.form-control{
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: 1px solid #E2E8F0;
	padding: 10px 16px;
	@include font-size(16);
	appearance: none;
	&::-ms-input-placeholder { /* Edge 12-18 */
		color: #CBD4E1;
	}
	&::placeholder {
		color: #CBD4E1;
	}
	&--select{
		cursor: pointer;
		background: #fff url(../img/common/chevron-down-02.png) no-repeat right 15px center/24px 24px;
		color: #CBD4E1;
	}
	&--textarea{
		height: 240px;
		width: 100%;
		resize: none;
		&-108{
			height: 108px;
		}
	} 
	&--gray{
		background: linear-gradient(0deg, #F1F4F9, #F1F4F9), linear-gradient(0deg, #CBD4E1, #CBD4E1);
	}
}


.error{
	@include font-size(16);
	font-weight: 600;
	color: #F31542;
	background: rgba(#F31542, .1);
	padding: 18px 14px;
	border-radius: 11px;
	margin-bottom: 12px;
	@include flex(0, center);
	@include p-before(24px, 24px){
		background: url(../img/common/warning-2.png) no-repeat center/100%;
		position: relative;
		margin-right: 8px;
	}
	&._types02{
		background: none;
		@include font-size(12);
		padding: 5px 0 0;
		&:before{
			width: 16px;
			height: 16px;
		}
	}
	&._types03{
		background: none;
		@include font-size(12);
		font-weight: 400;
		padding: 5px 0 0;
		color: #FAB200;
		&:before{
			width: 16px;
			height: 16px;
			background: url(../img/common/ico-danger.png) no-repeat center/100%;
		}
	}
}

.error02{
	border: 1px solid #F03738;
}

.error03{
	border: 1px solid #FAB200;
}

//area control heading
.area-control{
	@include flex(between, center, wrap);
	padding: 16px 30px;
	gap: 30px 0;
}

.area-footer{
	padding: 22px 30px;
	background: #fff;
	box-shadow: 0 0 30px rgba(#262626, .11);
	position: fixed;
	left: 330px;
	bottom: 0;
	right: 0;
	z-index: 10;
}


.breadcrumb{
	@include flex(0, 0);
	font-family: $font-Monterrat;
	@include font-size(16);
	font-weight: 500;
	color: #0F1A2A;
	a{
		color: #94A3B8;
		position: relative;
		padding-right: 36px;
		&::after{
			content: "";
			width: 20px;
			height: 20px;
			display: inline-block;
			background: url(../img/common/chevron-right-grey.png) no-repeat center/100%;
			position: absolute;
			top: -2px;
			right: 6px;
		}
	}
}

//styles modules layout

.c-layout{
	@include flex(between, start);
	&__left, &__right{
		padding: 24px;
		background: #fff;
		border-radius: 16px;
	}
	&__left{
		width: 32%;
	}
	&__right{
		width: 66%;
		&.disabled-fill{
			background: transparent;
			padding: 0;
		}
	}
	&--types02{
		.c-layout{
			&__left, &__right{
				width: 50%;
			}
		}
	}
}


.label-status{
	padding: 1px 5px 5px;
	border-radius: 8px;
	background: #D9F6E8;
	color: #009F50;
	max-width: 140px;
	width: 100%;
	height: 28px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&--warning{
		background: #FFF2D4;
		color: #FAB200;
	}
	&--danger{
		background: #FFE8E8;
		color: #ED2649;
		white-space: nowrap;
	}
	&--primary{
		color: #0072F8;
		background: #EAF3FD;
	}
	&--waiting{
		color: #FAB200;
		background: #FFF2D4;
	}
	&--draft{
		background: #F6F8FC;
		color: #0F1A2A;
	}
}

// ====== styles modal user =========
.c-modal{
	font-family: $font-Averta-Rugular;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#0F1A2A, .6);
	z-index: 11;
	@include flex(center, center);
	opacity: 0;
	visibility: hidden;
	@include smooth-transition;
	overflow-y: auto;
	&__btn-close{
		width: 40px;
		height: 40px;
		background: url(../img/common/ico-close.png) no-repeat center/100%;
		top: 100px;
		right: 100px;
		position: absolute;
		cursor: pointer;
		@include fn-hover;
		@include mq{
			bottom: 60px;
			top: auto;
			left: 50%;
			transform: translateX(-50%);
			right: auto;
		}
	}
	&__wp{
		max-width: 580px;
		width: 100%;		
		padding: 43px 30px;
		border-radius: 24px;
		background: #fff;
		@include mq{
			width: 91.46%;
			padding: 24px 20px;
		}
	}
	&__ttl{
		@include font-size(20);
		font-weight: 700;
		text-align: center;
		letter-spacing: 1px;
		margin-bottom: 30px;
		@include mq(tb){
			@include font-size(20);
		}
		@include mq{
			@include font-size(16);
			margin-bottom: 18px;
		}
	}
	&__dl{
		padding-top: 20px;
		position: relative;
		margin-bottom: 23px;
		@include mq{
			margin-bottom: 14px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	&__dt{
		@include font-size(16);
		font-weight: 600;
		position: absolute;
		top: 5px;
		left: 15px;
		display: inline-block;
		background: #fff;
		z-index: 2;
		padding: 0 10px;
		span{
			color: #ED2649;
			margin-left: 7px;
		}
	}
	&__dd{
		position: relative;
		input{
			width: 100%;
			height: 50px;
			border-radius: 8px;
			border: 1px solid #CBD4E1;
			padding: 10px 16px;
			@include font-size(16);
			font-family: $font-base;
			@include mq{
				padding: 10px 22px;
			}
			&::-ms-input-placeholder { /* Edge 12-18 */
				color: #94A3B8;
			}
			&::placeholder {
				color: #94A3B8;
			}
		}
		.toggle-pass{
			width: 20px;
			height: 20px;
			display: block;
			background: url(../img/common/ico-eye.png) no-repeat center/100%;
			top: 17px;
			right: 17px;
			position: absolute;
			z-index: 2;
			cursor: pointer;
		}
	}

	&__note{
		font-family: $font-Monterrat;
		@include fts(16, 25.6);
		font-weight: 500;
		color: #94A3B8;
		margin-bottom: 30px;
	}

	&__forget-pass{
		text-align: right;
		padding-top: 15px;
		@include mq{
			padding-top: 12px;
		}
	}
	&__desc{
		text-align: center;
		@include fts(16, 22.4);
		padding: 7px 0;
		&--lg{
			@include fts(24, 33.6);
			@include mq{
				@include fts(16, 22.4);
			}
		}
	}
	&__submit{
		@include flex(center, center);
		background: $color-main;
		width: 100%;
		height: 50px;
		border-radius: 8px;
		color: #fff;
		@include font-size(16);
		font-weight: 600;
		outline: 0;
		border: none;
		cursor: pointer;
		@include fn-hover;
		margin-top: 24px;
		@include mq{
			margin-top: 22px;
		}
		&--gray{
			background: #E2E8F0;
			color: #0F1A2A;
		}
	}
	&__ico{
		width: 55px;
		margin: 0 auto;
	}
	&__register{
		text-align: center;
		margin-top: 24px;
		@include mq{
			margin-top: 17px;
		}
	}
	.txt-link{
		@include font-size(14);
		font-weight: 600;
		color: #44A9F0;
		@include fn-hover;
	}

	&--engineer{
		.c-modal{
			&__wp{
				max-width: 470px !important;
			}
			&__desc{
				margin-top: 35px;
			}
			&__control{
				max-width: 360px;
				margin: 0 auto;
				@include flex(between, center);
				.c-modal__submit{
					width: 160px;
					margin: 35px auto 0;
				}
			}
		}
	}

	&.is-show{
		opacity: 1;
		visibility: visible;
	}

	&__fillter{
		padding-bottom: 16px;
		position: relative;
		@include mq{
			display: none;
		}
		&-ttl{
			padding: 17px 20px;
			@include fts(16, 22.4);
			font-weight: 600;
			border-bottom: 1px solid #E2E8F0;
		}
		&-close{
			position: absolute;
			top: 16px;
			right: 20px;
			z-index: 2;
			border: none;
			outline: 0;
			background: none;
			cursor: pointer;
		}
		&-flex{
			padding: 12px 21px;
			@include flex(0, 0, wrap);
			.col-type{
				width: 280px;
				border-radius: 12px 0 0 12px;
				border: 1px solid #E2E8F0;
				border-right: none;
				overflow: hidden;
				&__wp{
					padding: 8px;
				}
			}
			.col-hint{
				width: calc(100% - 280px);
				border-radius: 0 12px 12px 0;
				border: 1px solid #E2E8F0;
				overflow: hidden;
				&__wp{
					max-width: 435px;
					overflow-y: auto;
				}
			}
			.c-ttl__04{
				padding: 10px 14px;
				background: #F1F4F9;
			}
		}
		.c-modal{
			&__control{
				.c-modal__submit{
					margin-top: 28px;
				}
			}
		}
	}
	&__filltersp{
		padding: 34px 16px;
		border-radius: 12px;
		position: relative;
		@include p-before(48px, 4px){
			background: #000;
			border-radius: 50px;
			top: 8px;
			left: 50%;
			transform: translateX(-50%);
		}
		@include p-after(134px, 5px){
			background: #000;
			border-radius: 50px;
			bottom: 8px;
			left: 50%;
			transform: translateX(-50%);
		}
		@include mq(md-min){
			display: none;
		}
		&-heading{
			@include flex(between, center);
			@include font-size(16);
			margin-bottom: 16px;
			.txt-search{
				@include font-size(14);
				color: #0072F8;
				border: none;
				outline: 0;
				font-weight: 800;
				background: transparent;
			}
		}
		&-ttl{
			font-weight: 800;
		}
		&-cancel{
			width: 24px;
			height: 24px;
			border: none;
			outline: 0;
			padding: 0;
			background: none;
		}
		&-dl{
			margin-bottom: 16px;
			padding-bottom: 16px;
			border-bottom: 1px solid #E2E8F0;
			&:last-child{
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		&-dt{
			@include font-size(14);
			font-weight: 800;
			margin-bottom: 10px;
		}
		&-dd{
			.box-selected{
				padding: 0;
				&__heading{
					padding: 0;
					margin-bottom: 16px;
					.c-ttl__04{
						color: #F5601B;
					}
				}
			}
		}

		.scroll{
			max-height: 85vh;
			overflow-y: auto;
		}
	}
	&__control{
		max-width: 275px;
		margin-left: auto;
		margin-right: 0;
		@include flex(end, center);
		gap: 0 10px;
		margin-top: 35px;
		.c-btn__01{
			min-width: 110px;
			height: 40px;
			margin-top: 0;
			padding: 0 15px;
		}
	}

	.upload-file{
		border: 1px dashed #E2E8F0;
		padding: 4px 16px;
		@include font-size(16);
		color: #0F1A2A;
		max-width: 270px;
		width: 100%;
		position: relative;
		img{
			margin-right: 10px;
		}
		&__close{
			width: 24px;
			height: 24px;
			outline: 0;
			border: none;
			background: none;
			position: absolute;
			top: 8px;
			right: 16px;
			padding: 0;
			img{
				margin-right: 0;
			}
		}
	}

	&--scroll{
		align-items: flex-start;
		overflow-y: auto;
		.c-modal{
			&__wp{
				margin: 50px 0;
			}
		}
	}
	&__fillter{
		padding-bottom: 16px;
		position: relative;
		@include mq{
			display: none;
		}
		&-ttl{
			padding: 17px 20px;
			@include fts(16, 22.4);
			font-weight: 600;
			border-bottom: 1px solid #E2E8F0;
		}
		&-close{
			position: absolute;
			top: 16px;
			right: 20px;
			z-index: 2;
			border: none;
			outline: 0;
			background: none;
			cursor: pointer;
		}
		&-flex{
			padding: 12px 21px;
			@include flex(0, 0, wrap);
			.col-type{
				width: 280px;
				border-radius: 12px 0 0 12px;
				border: 1px solid #E2E8F0;
				border-right: none;
				overflow: hidden;
				&__wp{
					padding: 8px;
				}
			}
			.col-hint{
				width: calc(100% - 280px);
				border-radius: 0 12px 12px 0;
				border: 1px solid #E2E8F0;
				overflow: hidden;
				&__wp{
					max-width: 435px;
					overflow-y: auto;
				}
			}
			.c-ttl__04{
				padding: 10px 14px;
				background: #F1F4F9;
			}
		}
		.c-modal{
			&__control{
				.c-modal__submit{
					margin-top: 28px;
				}
			}
		}
	}
	
	//styles modal warning
	&--confirm{
		.c-modal{
			&__wp{
				border-radius: 16px;
				padding: 0;
				max-width: 447px;
			}
			&__heading{
				@include flex(between, center);
				padding: 13px 24px;
			}
			&__ttl{
				font-family: $font-Monterrat;
				@include font-size(16);
				margin-bottom: 0;
			}
			&__content{
				font-family: $font-Averta-Rugular;
				padding: 28px 24px;
				border-top: 1px solid #E2E8F0;
				border-bottom: 1px solid #E2E8F0;
			}
			&__control{
				margin: 0;
				margin-left: auto;
				padding: 12px 24px;
			}
		}
	}
	
	//styles modal create
	&--create{
		font-family: $font-Averta-Rugular;
		.c-modal{
			&__wp{
				padding: 24px 30px;
			}
			&__ttl{
				@include font-size(20);
				font-weight: 700;
			}
		}
		.create-company__field{
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	
	&.flex-start{
		align-items: flex-start;
		padding: 50px 0;
	}
}

.create-company{
	.c-modal__wp{
		max-width: 936px;
		width: 100%;
		padding: 24px 30px;
	}
	.c-modal__ttl{
		text-align: left;
	}
	&__wp{
		@include flex(0, 0, wrap);
		margin: 0 -8px;
	}
	&__field{
		width: 50%;
		padding: 0 8px;
		margin-bottom: 16px;
		&--full{
			width: 100%;
		}
		&-label{
			@include font-size(14);
			font-weight: 600;
			margin-bottom: 10px;
			display: block;
			position: relative;
			.c-txt__add{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				width: auto;
			}
			span{
				color: #ED2649;
				@include font-size(16);
			}
		}
	}
}

.representative-box{
	width: 100%;
	border: 1px solid #E2E8F0;
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 16px;
	position: relative;
	&__del{
		position: absolute;
		top: 14px;
		right: 30px;
	}
	&__label{
		@include font-size(14);
		font-weight: 500;
		font-family: $font-Monterrat;
		margin-bottom: 20px;
		color: #64748B;
		display: block;
	}
	&__field{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0 30px;
	}
	&__dt{
		@include font-size(12);
		font-weight: 600;
		margin-bottom: 10px;
		color: #0F1A2A;
	}
}


//table common
.c-table{
	border-radius: 15px;
	overflow-x: scroll;
	margin-bottom: 22px;
	table{
		min-width: 1510px;
		width: 100%;
		@include fts(16, 22.4);
		background: #fff;
		tr{
			th{
				color: #777E90;
				background: #E2E8F0;
				position: relative;
				@include p-after(1px, 24px){
					background: #64748B;
					top: calc(50% - 12px);
					right: 0;
				}
				&:last-of-type{
					&:after{
						display: none;
					}
				}
			}
			th, td{
				padding: 19px 0 19px 12px;
				&:nth-child(1){
					width: calc((60 / 1530) * 100%);
				}
				&:nth-child(2){
					width: calc((120 / 1530) * 100%);
				}
				&:nth-child(3){
					width: calc((250 / 1530) * 100%);
				}
				&:nth-child(4){
					width: calc((250 / 1530) * 100%);
				}
				&:nth-child(5){
					width: calc((240 / 1530) * 100%);
				}
				&:nth-child(6){
					width: calc((170 / 1530) * 100%);
				}
				&:nth-child(7){
					width: calc((160 / 1530) * 100%);
				}
				&:nth-child(8){
					width: calc((160 / 1530) * 100%);
				}
				&:nth-child(9){
					width: calc((120 / 1530) * 100%);
					position: relative;
				}

				.btn-sort{
					border: none;
					outline: 0;
					background: none;
					cursor: pointer;
					@include fn-hover;
				}
				.txt-link{
					color: #0072F8;
					@include fn-hover;
				}
			}
			td{
				padding: 16px 0 16px 12px;
				border-bottom: 1px solid #E2E8F0;
				position: relative;
				&:nth-child(1), &:last-of-type{
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}
	&--company02{
		height: 715px;
		overflow-y: auto;
		margin-bottom: 0;
		table{
			min-width: 962px;
			tr{
				th, td{
					&:nth-child(1){
						width: calc((60 / 962) * 100%);
					}
					&:nth-child(2){
						width: calc((110 / 962) * 100%);
					}
					&:nth-child(3){
						width: calc((200 / 962) * 100%);
					}
					&:nth-child(4){
						width: calc((130 / 962) * 100%);
					}
					&:nth-child(5){
						width: calc((242 / 962) * 100%);
					}
					&:nth-child(6){
						width: calc((160 / 962) * 100%);
					}
					&:nth-child(7){
						width: calc((60 / 962) * 100%);
					}
				}
				td{
					word-break: break-all;
					padding: 12px 0 12px 12px;
					&.txt-status{
						color: #0F993E;
					}
				}
			}
		}
	}
	&--company-manager{
		table{
			tr{
				th, td{
					&:nth-child(1){
						width: calc((60 / 1530) * 100%);
					}
					&:nth-child(2){
						width: calc((140 / 1530) * 100%);
					}
					&:nth-child(3){
						width: calc((250 / 1530) * 100%);
					}
					&:nth-child(4){
						width: calc((120 / 1530) * 100%);
					}
					&:nth-child(5){
						width: calc((120 / 1530) * 100%);
					}
					&:nth-child(6){
						width: calc((400 / 1530) * 100%);
					}
					&:nth-child(7){
						width: calc((160 / 1530) * 100%);
					}
					&:nth-child(8){
						width: calc((160 / 1530) * 100%);
					}
					&:nth-child(9){
						width: calc((120 / 1530) * 100%);
					}
				}
			}
		}
	}
}

.action-content{
	display: none;
	position: absolute;
	top: 40px;
    right: 18px;
	width: 190px;
	padding: 10px;
	background: #fff;
	z-index: 10;
	width: 217px;
	li{
		a{
			height: 54px;
			@include font-size(16);
			font-weight: 600;
			@include flex(0, center);
			@include fn-hover;
			position: relative;
			@include p-before(20px, 20px){
				
				position: relative;
				margin-right: 10px;
			}
		}
	}
	&__edit{
		a{
			@include p-before(20px, 20px){
				background: url(../img/common/edit-2.png) no-repeat center/100%;
			}
		}
	}
	&__disabled{
		a{
			color: #ED2649;
			@include p-before(20px, 20px){
				background: url(../img/common/shop-remove.png) no-repeat center/100%;
			}
		}
	}
	&__delete{
		a{
			color: #ED2649;
			@include p-before(20px, 20px){
				background: url(../img/common/trash.png) no-repeat center/100%;
			}
		}
	}
}

.btn-action{
	width: 20px;
	height: 20px;
	background: url(../img/common/more-horizontal.png) no-repeat center/100%;
	outline: 0;
	border: none;
	cursor: pointer;
	@include fn-hover;
	&.is-active{
		background: url(../img/common/more-horizontal-active.png) no-repeat center/100%;
	}
}



.c-switch{
	display: inline-block;
	div{
		padding-left: 60px;
		color: #CBD4E1;
		@include font-size(14);
		font-weight: 600;
		font-family: $font-base;
		display: flex;
		height: 24px;
		align-items: center;
		position: relative;
		cursor: pointer;
		@include p-before(48px, 24px){
			background: #CBD4E1;
			border-radius: 12px;
			top: calc(50% - 12px);
			left: 0;
		}
		@include p-after(20px, 20px){
			background: #fff;
			border-radius: 50%;
			top: 2px;
			left: 2px;
			@include smooth-transition;
		}
	}
	input{
		position: absolute;
		opacity: 0;
		&:checked + div{
			color: $color-main;
			&::before{
				background: linear-gradient(90deg, #F5601B 0%, #FF862A 100%);
			}
			&:after{
				left: 25px;
			}
			a{
				color: #0072F8;
				@include fn-hover;
			}
		}
	}
}


//alert box common
.box-alert{
	max-width: 343px;
	width: 100%;
	height: 81px;
	position: fixed;
	top: 92px;
	right: 30px;
	z-index: 10;
	padding: 20px;
	overflow: hidden;
	@include fts(12, 16.8);
	color: #fff;
	border-radius: 12px;
	&__close{
		width: 18px;
		height: 18px;
		position: absolute;
		top: 20px;
		right: 20px;
		background: url(../img/common/close-alert.png) no-repeat center/100%;
		cursor: pointer;
		outline: 0;
		border: none;
		z-index: 2;
	}
	&__content{
		&-txt{
			position: relative;
			padding-left: 40px;
			@include p-before(24px, 24px){
				top: 0;
				left: 0;
			}
		}
	}
	span{
		display: block;
		@include font-size(14);
		font-weight: 600;
		margin-bottom: 4px;
	}
	&--success{
		border: 1px solid #43D590;
		background: linear-gradient(94.77deg, #32BB71 15.3%, #2A9D8F 113.45%);
		.box-alert{
			&__content{
				&-txt{
					&::before{
						background: url(../img/common/ico-success.png) no-repeat center/100%;
					}
				}
			}
		}
	}
	&--error{
		border: 1px solid #F0863A;
		background: linear-gradient(95.46deg, #F6743E -6.96%, #D42525 108.25%);
		.box-alert{
			&__content{
				&-txt{
					&::before{
						background: url(../img/common/ico-error.png) no-repeat center/100%;
					}
				}
			}
		}
	}
}

.required{
	color: #ED2649;
}



//styles multiple select
.multiSelect {
    width: 100%;
    position: relative;
	@include mq{
		margin-top: 9px;
	}
}

.multiSelect *, .multiSelect *::before, .multiSelect *::after {
    box-sizing: border-box;
}

.multiSelect_dropdown {
    font-size: 14px;
    min-height: 50px;
    line-height: 50px;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #444f5b;
    border: 1px solid #d9dbde;
    font-weight: 400;
    padding: 0.5px 13px;
    margin: 0;
    transition: .1s border-color ease-in-out;  
    cursor: pointer;
}

.multiSelect_dropdown.-hasValue {
    padding: 2px 30px 2px 5px;
    cursor: default;
}

.multiSelect_dropdown.-open {
    box-shadow: none;
    outline: none;
    padding: 4.5px 29.5px 4.5px 4.5px;
}
.multiSelect_arrow{
	width: 16px;
	height: 16px;
	background: url(../img/common/chevron-down.png) no-repeat center/100%;
	position: absolute;
	top: 16px;
	right: 14px;
}


.multiSelect_list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(10 * 31px);
    top: 28px;
    left: 0;
    z-index: 9999;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease, visibility 0.1s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    -webkit-transform: scale(0.8) translate(0, 4px);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid #d9dbde;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #E2E8F0;
}

.multiSelect_list::-webkit-scrollbar
{
	width: 6px;
	background-color: #E2E8F0;
}

.multiSelect_list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0F1A2A;
}

.multiSelect_option {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
    transition: all .15s ease;
    position: relative;
    @include p-after(24px, 24px){
		background: url(../img/common/check.png) no-repeat center/100%;
		top: calc(50% - 12px);
		right: 15px;
		opacity: 0;
		transform: scale(0);
		@include smooth-transition;
	}
    
}

.multiSelect_option.-selected {
	pointer-events: none;
	&::after{
		opacity: 1;
		transform: scale(1);
	}
	a{
		color: $color-main;
	
	}
}
.multiSelect_text {
    cursor: pointer;
    display: block;
    padding: 5px 13px;
    color: #525c67;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all .15s ease;
}

.multiSelect_list.-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(0, 12px);
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.multiSelect_choice {
    background: #fff;
    color: #F5601B;
	border: 1px solid #F5601B;
    padding: 3px 8px 6px;
    line-height: 17px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
	position: relative;
	@include p-after(15px, 15px){
		background: url(../img/common/close-circle-red.png) no-repeat center/100%;
		top: 3px;
		right: 0;
		position: relative;
		margin-left: 5px;
	}
}

.multiSelect_deselect {
    width: 12px;
    height: 12px;
    display: inline-block;
    stroke: #b2bac3;
    stroke-width: 4px;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
    stroke: #a1a8b1;
}

.multiSelect_noselections {
    text-align: center;
    padding: 7px;
    color: #b2bac3;
    font-weight: 450;
    margin: 0;
}

.multiSelect_placeholder {
    position: absolute;
    left: 10px;
    @include font-size(14);
    top: 16px;
    padding: 0 4px;
    background-color: #fff;
    color: #b8bcbf;
    pointer-events: none;
    transition: all .1s ease;
}

.multiSelect_dropdown.-open + .multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
    top: -13px;
    left: 17px;
    color: #4073FF;
    font-size: 13px;
	opacity: 0;
}

.multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #6e7277;
    font-size: 13px;
    opacity: 0;
}


.btn-group{
	max-width: 290px;
	width: 100%;
	@include flex(between, center);
	gap: 0 10px;
	.c-btn__01{
		margin-top: 0;
	}
	&--single{
		max-width: 140px;
	}
	&--styles02{
		max-width: 500px;
	}
}
