@use 'vars' as *;
#page-register_form{
	.txt-link{
		@include font-size(16);
		font-weight: 400;
		color: #0072F8;
		position: absolute;
		top: 24px;
		right: 30px;
		@include mq{
			@include font-size(14);
			top: 12px;
		}
	}
}

#page-candidate_detail{
	.register-form{
		&__wp{
			background: #fff;
			background: linear-gradient(90.6deg, #56CCF2 1.48%, #2F80ED 98.04%),
			linear-gradient(0deg, #FFFFFF, #FFFFFF);
			border-radius: 16px;
			overflow: hidden;
			position: relative;
			padding: 24px 30px;
			@include mq{
				padding: 15px 20px;
			}
			@include p-before(100%, calc(100% - 6px)){
				background: #fff;
				top: 6px;
				border-radius: 16px;
				left: 0;
			}
		}
	}
}
.register-form{
	// padding: 32px 0 117px;
	// @include mq{
	// 	padding: 24px 0 30px;
	// }
    &__status{
        margin-bottom: 24px;
        &-label{
            @include font-size(16);
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    &__btn-group{
        @include flex(center, center);
        gap: 0 30px;
        .c-btn__01{
            width: 190px;
        }
    }
	.inner{
		max-width: 100%;
		width: 100%;
	}
    .form-group{
        padding-top: 20px;
        position: relative;
        margin-bottom: 23px;
        @include mq{
            margin-bottom: 14px;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        &__label{
            @include font-size(16);
            font-weight: 600;
            position: absolute;
            top: 5px;
            left: 15px;
            display: inline-block;
            background: #fff;
            z-index: 2;
            padding: 0 10px;
            span{
                color: #ED2649;
                margin-right: 7px;
                &.tooltips{
                    margin-left: 7px;
                    margin-right: 0;
                    position: relative;
                    bottom: 2px;
                    cursor: pointer;
                    @include fn-hover;
                }
            }
            .btn-show-copy{
                position: relative;
                top: -2px;
                margin-left: 12px;
            }
        }
        &__input{
            position: relative;
            input{
                width: 100%;
                height: 50px;
                border-radius: 8px;
                border: 1px solid #CBD4E1;
                padding: 10px 16px;
                @include font-size(16);
                @include mq{
                    padding: 10px 22px;
                }
                &::-ms-input-placeholder { /* Edge 12-18 */
                    color: #94A3B8;
                }
                &::placeholder {
                    color: #94A3B8;
                }
                &.has-value{
                    background: #F1F4F9;
                }
            }
            .toggle-pass{
                width: 20px;
                height: 20px;
                display: block;
                background: url(../img/common/ico-eye.png) no-repeat center/100%;
                top: 17px;
                right: 17px;
                position: absolute;
                z-index: 2;
                cursor: pointer;
            }
            &.is-error{
                input{
                    border-color: #ED2649;
                }
            }
        }
        .tooltips-txt{
            color: #000;
            max-width: 260px;
            width: 100%;
            width: 100%;
            position: absolute;
            border: 1px solid #E2E8F0;
            border-radius: 12px;
            padding: 12px 16px;
            @include fts(14, 19.6);
            background: #fff;
            z-index: 2;
            top: 30px;
            left: 133px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            @include mq{
                max-width: 190px;
                @include font-size(12);
                left: 146px;
            }
            .arrow{
                position: absolute;
                display: block;
                width: 1rem;
                height: 0.5rem;
                top: calc((0.5rem + 1px) * -1);
                margin: 0 0.3rem;
                &:after, &:before{
                    position: absolute;
                    display: block;
                    content: "";
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0 0.5rem 0.5rem 0.5rem;
                    
                }
                &:after{
                    top: 1px;
                    border-bottom-color: #fff;
                }
                &::before{
                    top: 0;
                    border-bottom-color: rgba(0,0,0,.25);
                }
            }
        }
        &.is-show{
            .tooltips-txt{
                opacity: 1;
                visibility: visible;
            }
        }
        &--styles02{
            .form-group{
                &__label{
                    position: static;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .c-tabs{
        margin-bottom: 40px;
    }
	&__list-skills{
		@include font-size(16);
		line-height: 1.4;
		p{
			margin-bottom: 20px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	&__wp{
		// background: #fff;
		// background: linear-gradient(90.6deg, #56CCF2 1.48%, #2F80ED 98.04%),
		// linear-gradient(0deg, #FFFFFF, #FFFFFF);
		// border-radius: 16px;
		// overflow: hidden;
		// position: relative;
		// padding: 24px 30px;
		// @include mq{
		// 	padding: 15px 20px;
		// }
		// @include p-before(100%, calc(100% - 6px)){
		// 	background: #fff;
		// 	top: 6px;
		// 	border-radius: 16px;
		// 	left: 0;
		// }
	}
	&__ttl{
		position: relative;
		z-index: 2;
		text-align: center;
		margin-bottom: 40px;
		@include mq{
			margin-bottom: 20px;
		}
		span{
			width: 100%;
			display: block;
			line-height: 1;
			margin-bottom: 20px;
            @include font-size(40);
		}
        .btn-upload{
            max-width: 250px;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
            img{
                margin-left: 10px;
            }
        }
	}
	&__form{
		position: relative;
		z-index: 2;
		.c-btn__submit{
			max-width: 190px;
			margin: 0 auto;
		}
	}
	&__dl{
		margin-bottom: 24px;
	}
	&__dt{
		@include font-size(20);
		font-weight: 600;
		color: #F5601B;
		position: relative;
		padding-left: 20px;
        margin-bottom: 20px;
		margin-left: 14px;
		letter-spacing: 1px;
		@include mq{
			@include font-size(16);
		}
		@include p-before(4px, 4px){
			background: $color-main;
			border-radius: 50%;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);
		}
		.txt-link{
			position: absolute;
			top: 0;
			right: 0;

		}
	}
	&__dd{
		.form-group{
			padding: 20px 15px 0;
			width: 50%;
			@include mq{
				margin-bottom: 24px;
				padding: 10px;
				width: 100%;
			}
			&__label{
				@include mq(md-min){
					padding-left: 20px;
				}
			}
			input{
				&::placeholder{
					color: #94A3B8;
				}
			}
			.error03{
				@include font-size(12);
				color: #ED2649;
				position: absolute;
				bottom: -5px;
				left: 10px;
				transform: translateY(100%);
			}
			.form-control{
				&--select{
					color: #94A3B8;
					background: #fff url(../img/common/chevron-down.png) no-repeat right 15px center/24px 24px
				}
			}
			
			&--radio{
				.form-group{
					&__label{
						position: static;
						margin-bottom: 12px;
						padding: 0
					}
					&__input{
						@include flex(0, 0, wrap);
						@include font-size(16);
						label{
							margin-right: 80px;
							position: relative;
							@include mq{
								margin-right: 35px;
							}
							&:last-of-type{
								margin-right: 0;
							}
						}
						input{
							width: auto;
							height: auto;
							padding: 0;
							&:checked + .txt-radio{
								&::after{
									opacity: 1;
									visibility: visible;
								}
								&::before{
									border-color: #F5601B;
								}
							}
						}
					}
				}
			}
			&--confirm-job{
				padding-top: 0;
				padding-left: 16px;
				.form-group{
					&__label{
						margin-bottom: 20px;
						letter-spacing: 1px;
						padding-left: 5px;
					}
				}
			}
			&--upload{
				padding-top: 0;
				width: 100%;
				.form-group{
					&__label{
						padding: 0;
						margin-bottom: 12px;
						position: static;
					}
				}
				.form-upload{
					max-width: 520px;
					width: 100%;
					border: 1px dashed #B1BFD0;
					padding: 30px 20px;
					&__img{
						max-width: 102px;
						margin: 0 auto;
					}
					&__caption{
						text-align: center;
						& > *{
							display: block;
						}
						span{
							@include font-size(12);
							margin-bottom: 10px;
							@include mq{
								@include font-size(10);
							}
						}
						small{
							@include font-size(8);
							color: #969DB2;
						}
					}
				}
			}
			&--full{
				width: 100%;
			}
		}
		&--jobs{
			padding: 0 15px;
			@include mq{
				padding: 0 10px;
			}
			.register-form__dd-wp{
				padding-bottom: 25px;
				margin-bottom: 25px;
				.form-group{
					@include mq{
						padding: 10px 0 0;
					}
				}
			}
		}
		&-wp{
			background: #F6F8FC;
			border: 1px dashed #E2E8F0;
			border-radius: 16px;
			padding: 16px 15px;
			position: relative;
		}
	}
}

.form-radio{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}
.txt-radio{
	display: block;
	position: relative;
	padding: 3px 0 3px 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	@include p-before(24px, 24px){
		border: 1px solid #B1B5C3;
		border-radius: 50%;
		top: 0;
		left: 0;
	}
	@include p-after(16px, 16px){
		background: $color-main;
		top: 5px;
		left: 5px;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
	}
}

.form-grid{
	@include flex(0, 0, wrap);
	margin: 0 -15px;
}

.btn-add-project{
	@include font-size(16);
	font-weight: 700;
	color: #2F80ED;
	position: relative;
	padding-left: 30px;
	margin-top: 24px;
	margin-left: 24px;
	@include mq{
		@include font-size(14);
		margin-left: 0;
	}
	@include p-before(24px, 24px){
		background: url(../img/common/plus-blue.png) no-repeat center/100%;
		top: calc(50% - 12px);
		left: 0;
	}
}

.btn-submit-project{
	@include font-size(16);
	color: #2F80ED;
	position: relative;
	@include flex(0, center);
	display: inline-flex;
	background: #0072F81A;
	outline: 0;
	border: none;
	cursor: pointer;
	padding: 8px 21px;
	border-radius: 12px;
	@include mq{
		padding: 8px 15px;
		border-radius: 6px;
	}
	@include p-before(24px, 24px){
		background: url(../img/common/plus-blue.png) no-repeat center/100%;
		position: static;
		margin-right: 10px;
	}
}

.acc-skills{
	padding: 0 15px;
	margin-bottom: 12px;
	@include mq{
		padding: 0;
	}
	&:last-of-type{
		margin-bottom: 0;
	}
	&__dt{
		@include font-size(16);
		padding-left: 30px;
		margin-bottom: 14px;
		position: relative;
		cursor: pointer;
		@include p-before(24px, 24px){
			background: url(../img/common/ico-plus-02.png) no-repeat center/100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
	&__list{
		&-item{
			@include flex(0, center, wrap);
			margin-bottom: 12px;
		}
	}
	&__dd{
		padding: 16px 54px;
		background: #F6F8FC;
		border: 1px dashed #E2E8F0;
		border-radius: 16px;
		display: none;
		@include mq{
			padding: 15px 15px;
			border-radius: 8px;
		}
		&-left{
			@include font-size(16);
			font-weight: 600;
			width: 240px;
			@include mq(sm){
				width: 100%;
				margin-bottom: 15px;
			}
		}
		&-checker{
			.txt-checkbox{
				cursor: pointer;
				padding-left: 30px;
				position: relative;
				@include p-before(24px, 24px){
					border-radius: 4px;
					border: 1px solid #ccc;
					top: 0;
					left: 0;
				}
				@include p-after(15px, 11px){
					background: url(../img/common/ico-check-wt.png) no-repeat center/100%;
					left: 6px;
					top: 7px;
					opacity: 0;
					visibility: hidden;
				}
			}
			input:checked + .txt-checkbox{
				&::before{
					background: #2361FF;
					border-color: #2361FF;
				}
				&:after{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-right{
			width: calc(100% - 240px);
			@include flex();
			gap: 0 8px;
			@include mq(sm){
				width: 100%;
			}
			input{
				width: 100px;
			}
		}
	}
	&.is-active{
		.acc-skills__dt{
			&::before{
				background: url(../img/common/minus-square.png) no-repeat center/100%;
			}
		}
	}
}

.box-project{
	background: #fff;
	border-radius: 16px;
	border: 1px dashed #ccc;
	padding: 16px 30px;
	width: calc(100% - 30px);
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
	&:last-of-type{
		margin-bottom: 0;
	}
	@include mq{
		border-radius: 8px;
		padding: 15px 15px;
		width: 100%;
	}
	&__close{
		position: absolute;
		top: -12px;
		right: 7px;
	}
	.form-group{
		@include mq{
			margin-bottom: 14px;
			margin-left: 0;
			margin-right: 0;
			padding: 10px 15px !important;
		}
	}
}

.box-qualifications{
	.form-grid{
		position: relative;
		.form-group{
			width: calc(100% - 300px);
			padding-right: 30px;
			@include mq{
				width: 100%;
				padding-right: 0;
			}
			&:nth-child(2){
				width: 300px;
				@include mq{
					width: 100%;
				}
			}
			&__input{
				.txt-link{
					top: -10px !important;
					background: #fff;
					padding: 0 5px;
					text-align: center;
					right: 20px;
				}
			}
		}
		&--styles02{
			.form-group{
				&:nth-child(2){
					padding-right: 75px;
				}
			}
			.box-project__close{
				position: absolute;
				top: 30px;
				right: 35px;
				@include mq{
					right: 20px;
					bottom: 48px;
					top: auto;
				}
			}
		}
	}
}

.project-business{
	&__ttl{
		position: relative;
		@include p-after(100%, 1px){
			background: #E2E8F0;
			top: 50%;
			left: 0;
		}
		span{
			@include font-size(16);
			font-weight: 800;
			color: #F5601B;
			padding-right: 20px;
			background: #fff;
			position: relative;
			z-index: 2;
		}
	}
	.form-group{
		padding-left: 0;
		padding-right: 0;
		@include mq{
			padding: 10px 0 0 !important;
		}
	}
}


#qualifications{
	.c-modal__wp{
		padding: 0;
	}
}

.qualifications-content{
	padding: 11px 20px;
	&__wp{
		border: 1px solid #E2E8F0;
		padding: 8px;
		border-radius: 12px;
	}
	label{
		cursor: pointer;
		margin-bottom: 4px;
		display: block;
		&:last-of-type{
			margin-bottom: 0;
		}
		.txt-checkbox{
			padding: 6px 8px;
			border-radius: 8px;
			display: inline-block;
			@include font-size(16);
			width: 98%;
		}
		input:checked + .txt-checkbox{
			background: #F1F4F9;
			font-weight: 700;
			color: #F5601B;
		}
	}
}




.ui-widget.ui-widget-content{
	width: 210px;
	border: none;
	padding: 0;
	border-radius: 5px;
}

.ui-datepicker .ui-datepicker-header{
	background: #FD9B44;
	color: #fff;
	@include font-size(12);
	span{
		@include font-size(15);
	}

}

.ui-datepicker{
	.ui-datepicker-prev, .ui-datepicker-next{
		top: 2px;
		@include flex(center, center);
		@include smooth-transition;
		&:hover{
			background: transparent;
			opacity: .7;
			@include smooth-transition;
			border: none;
		}
		span{
			position: static;
			margin: 0 auto;
			top: 0;
			left: 0;
		}
	}
	.ui-datepicker-prev{
		opacity: 1;
		span{
			display: block;
			width: 8px;
			height: 13px;
			font-size: 0;
			background: url(../img/common/arr-left-wt.png) no-repeat center/100%;
		}
	}
	.ui-datepicker-next{
		span{
			position: relative;
			transform: rotate(180deg);
			display: block;
			width: 8px;
			height: 13px;
			font-size: 0;
			background: url(../img/common/arr-left-wt.png) no-repeat center/100%;
		}
	}

	.ui-datepicker-title{
		position: relative;
		top: 2px;
	}
}


.ui-datepicker-calendar{
	border-collapse: none !important;
	tr{
		th{
			background: #F5F0E9;
			@include font-size(12);
			font-weight: 700;
			border-right: 1px solid #E8E3DB;
			border-bottom: 1px solid #E8E3DB;
			&:last-of-type{
				border-right: none;
			}
		}
		td{
			padding: 0;
			@include font-size(12);
			font-family: 'Arial', sans-serif;
			text-align: center;
			span, a{
				text-align: center;
				padding: .5em;
				background: #fff !important;
				border-color: #E8E3DB;
			}
		}
	}
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
	opacity: 1;
}

.ui-state-default{
	background-color: #fff;
}
.ui-datepicker{
	table{
		margin-bottom: 0;
		background: #E8E3DB;
	}
}
.ui-datepicker td a {
	padding: 0.6em 0.2em;
	text-align: center;
}
.ui-priority-secondary{
	background: #F2F2F2 !important;
	color: #aaa !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border: 1px solid transparent !important;
	background: $color-main !important;
	color: #fff !important;
}

.ui-datepicker-week-end{
	color: $color-main;
	background: #FFE8D3 !important;
	&:last-of-type{
		span{
			color: $color-main !important;
		}
	}
}

.ui-datepicker-other-month{
	background: #fff !important;
}

.ui-state-active, .ui-widget-content .ui-state-active{
	color: #000;
	background: #fff;
	border-color: $color-main !important;
}


#register-skill{
	padding-bottom: 16px;
	.c-modal{
		&__wp{
			padding: 0;
			max-width: 850px;
		}
	}
	.c-modal__fillter{
		display: block !important;
		&-ttl{
			padding: 17px 20px;
			@include fts(16, 22.4);
			font-weight: 600;
			border-bottom: 1px solid #E2E8F0;
		}
		&-close{
			position: absolute;
			top: 16px;
			right: 20px;
			z-index: 2;
			border: none;
			outline: 0;
			background: none;
			cursor: pointer;
		}
		&-flex{
			padding: 12px 21px;
			@include flex(0, 0, wrap);
			.col-type{
				width: 280px;
				border-radius: 12px 0 0 12px;
				border: 1px solid #E2E8F0;
				border-right: none;
				overflow: hidden;
				&__wp{
					padding: 8px;
				}
			}
			.col-hint{
				width: calc(100% - 280px);
				border-radius: 0 12px 12px 0;
				border: 1px solid #E2E8F0;
				overflow: hidden;
				&__wp{
					max-width: 435px;
					overflow-y: auto;
				}
			}
			.c-ttl__04{
				padding: 10px 14px;
				background: #F1F4F9;
			}
		}
	}
	.c-modal__filltersp{
		padding-bottom: 0;
		&::before, &:after{
			display: none !important;
		}
		.fillter-acc{
			&:first-child{
				border-top: 1px solid #E2E8F0;
			}
		}
	}
	.c-modal{
		&__control{
			@include mq{
				padding: 0 15px;
			}
			.c-modal__submit{
				margin-top: 28px;
				@include mq{
					width: 140px;
				}
			}
		}
	}
}


.modal-copy{
	max-width: 524px;
	height: 186px;
	box-shadow: 2px 2px 10px 0px #7E91D324;
	border: 1px solid #E2E8F0;
	border-radius: 16px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 10;
	padding: 12px 12px;
	background: #fff;
	@include fts(14, 19.6);
	display: none;
	p{
		margin-bottom: 20px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.btn-copy{
		width: 100px;
		height: 32px;
		@include font-size(14);
		background: linear-gradient(90deg, rgba(245, 96, 27, 0.1) 0%, rgba(255, 134, 42, 0.1) 100%);
		@include flex(center, center);
		gap: 0 8px;
		margin-bottom: 10px;
		color: #F5601B;
		border-radius: 8px;
		@include p-before(20px, 20px){
			background: url(../img/common/document-copy.png) no-repeat center/100%;
			position: relative;
		}
	}
}



.multiSelect {
    width: 100%;
    position: relative;
	@include mq{
		margin-top: 9px;
	}
}

.multiSelect *, .multiSelect *::before, .multiSelect *::after {
    box-sizing: border-box;
}

.multiSelect_dropdown {
    font-size: 14px;
    min-height: 50px;
    line-height: 50px;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #444f5b;
    border: 1px solid #d9dbde;
    font-weight: 400;
    padding: 0.5px 13px;
    margin: 0;
    transition: .1s border-color ease-in-out;  
    cursor: pointer;
}

.multiSelect_dropdown.-hasValue {
    padding: 5px 30px 5px 5px;
    cursor: default;
}

.multiSelect_dropdown.-open {
    box-shadow: none;
    outline: none;
    padding: 4.5px 29.5px 4.5px 4.5px;
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-radius: 20px;
    border-bottom: 8px solid #99A3BA;
    top: 40%;
    transition: all .15s ease;
}

.multiSelect_arrow::before {
    right: 18px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.multiSelect_arrow::after {
    right: 13px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.multiSelect_list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(10 * 31px);
    top: 28px;
    left: 0;
    z-index: 9999;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease, visibility 0.1s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    -webkit-transform: scale(0.8) translate(0, 4px);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid #d9dbde;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_option {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
    transition: all .15s ease;
}

.multiSelect_option.-selected {
    display: none;
}

.multiSelect_option:hover .multiSelect_text {
    color: #fff;
    background: #4d84fe;
}

.multiSelect_text {
    cursor: pointer;
    display: block;
    padding: 5px 13px;
    color: #525c67;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all .15s ease;
}

.multiSelect_list.-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(0, 12px);
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
  transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
  transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
  transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
  transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
  transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
  transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
  transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
  transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
  transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
  transition-delay: 100ms;
}

.multiSelect_choice {
    background: #fff;
    color: #F5601B;
	border: 1px solid #F5601B;
    padding: 3px 8px 6px;
    line-height: 17px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
	position: relative;
	@include p-after(15px, 15px){
		background: url(../img/common/close-circle-red.png) no-repeat center/100%;
		top: 3px;
		right: 0;
		position: relative;
		margin-left: 5px;
	}
}

.multiSelect_deselect {
    width: 12px;
    height: 12px;
    display: inline-block;
    stroke: #b2bac3;
    stroke-width: 4px;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
    stroke: #a1a8b1;
}

.multiSelect_noselections {
    text-align: center;
    padding: 7px;
    color: #b2bac3;
    font-weight: 450;
    margin: 0;
}

.multiSelect_placeholder {
    position: absolute;
    left: 20px;
    @include font-size(16);
    top: 17px;
    padding: 0 4px;
    background-color: #fff;
    color: #b8bcbf;
    pointer-events: none;
    transition: all .1s ease;
}

.multiSelect_dropdown.-open + .multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
    top: -13px;
    left: 17px;
    color: #4073FF;
    font-size: 13px;
	opacity: 0;
}

.multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #6e7277;
    font-size: 13px;
}