<div class="area-footer manpower-page__footer">
    <div class="manpower-page__left">Có <strong>150</strong> kết quả</div>
    <div class="manpower-page__right">
        <ul class="manpower-page__pagination">
            <li class="page-prev"><a href="#"></a></li>
            <li class="page current"><a href="#">1</a></li>
            <li class="page"><a href="#">2</a></li>
            <li class="page"><a href="#">3</a></li>
            <li class="extend"><span></span></li>
            <li class="page"><a href="#">10</a></li>
            <li class="page-next"><a href="#"></a></li>
        </ul>
        <div class="manpower-page__postperpage">
            <select name="" id="" class="form-control form-control--select">
                <option value="5">5 / trang</option>
                <option value="10">10 / trang</option>
                <option value="15">15 / trang</option>
                <option value="20">20 / trang</option>
                <option value="25">25 / trang</option>
            </select>
        </div>
        <div class="manpower-page__goto">Đi đến trang <input type="text" class="form-control form-control--sm" value="1"></div>
    </div>
</div>