<div class="cms-heading">
	<h2 class="cms-heading__ttl"><%= pageData.title %></h2>
	<ul class="cms-heading__control">
		<li class="cms-heading__control-notification"><a href="#"><img src="../img/common/icon-notification.png" alt="" width="40"></a></li>
		<li class="cms-heading__control-notification"><a href="#"><img src="../img/common/vn.png" alt="" width="24"></a></li>
		<li class="cms-heading__control-user">
			<a href="#" class="wp js-dropdown">
				<div class="cms-heading__control-avatar">
					<img src="../img/common/avatar.png" alt="">
				</div>
				<div class="cms-heading__control-info">
					<span class="namme">Quản Trị Viên</span>
					<span class="position">Super Admintrator</span>
				</div>
			</a>
			<ul class="c-dropdown">
				<li><a href="#" class="js-show-modal" data-modal="changepass"><img src="../img/common/ico-changepass.png" width="20" alt="">Đổi mật khẩu</a></li>
				<li><a href="#" class="js-show-modal" data-modal="register"><img src="../img/common/password-check.png" width="20" alt="">Cấp lại mật khẩu</a></li>
				<li><a href="#" class="js-show-modal" data-modal="form-logout"><img src="../img/common/logout.png" width="20" alt="">Đăng xuất </a></li>
			</ul>
		</li>
	</ul>
</div>


<!-- 
<div class="box-alert box-alert--success">
	<button class="box-alert__close"></button>
	<div class="box-alert__content">
		<p class="box-alert__content-txt"><span>Thành công</span>Bạn đã thành công tạo mới công ty Nhật</p>
	</div>
</div>
<div class="box-alert box-alert--error">
	<button class="box-alert__close"></button>
	<div class="box-alert__content">
		<p class="box-alert__content-txt"><span>Thất bại</span>Tạo mới công ty Nhật thất bại.</p>
	</div>
</div> -->
<!-- 
<div class="box-alert box-alert--success">
	<button class="box-alert__close"></button>
	<div class="box-alert__content">
		<p class="box-alert__content-txt"><span>Thành công</span>Bạn đã thành công tạo mới công ty cung ứng nhân lực</p>
	</div>
</div> -->