<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="company-detail">
			<div class="area-control company-detail__control">
				<div class="breadcrumb">
					<a href="/candidate/">Danh sách ứng viên</a><span>Chi tiết ứng viên</span>
				</div>
				<div class="btn-group">
					<a href="#" class="c-btn__01 c-btn__01--gray">Trở lại</a>
				</div>
			</div>
			<div class="cms-wrapper">
				<ul class="c-tabs">
                    <li data-tab="vi">Việt Nam</li>
                    <li data-tab="jp" class="is-active">Japan</li>
                </ul>
                <div class="engineer-detail">
                    <div class="engineer-detail__intro">
                        <div class="engineer-detail__intro-img"><img src="../img/engineer/img-detail.png" alt="Riko Sato" width=""></div>
                        <div class="engineer-detail__intro-content">
                            <h2 class="engineer-detail__intro-name">Riko Sato</h2>
                            <ul class="engineer-detail__intro-info">
                                <li class="birthday">1994年03月09日</li>
                                <li class="address">Edogawa, Tokyo</li>
                            </ul>
                            <div class="engineer-detail__intro-desc">
                                <p>20◯◯年、株式会社△△に入社しました。</p>
                                <p>入社後◯年間、主にインフラエンジニアとして、△△向けのサーバ(ネットワーク機器)の(要件定義/基本設計/詳細設計/構築/設定/運用保守/監視)業務に従事し、(最大◯名のチームのリーダー/最大◯名のプロジェクトのマネジメント/顧客折衝/後輩教育)も担当した経験があります。</p>
                            </div>
                            <div class="engineer-detail__intro-control">
                                <label class="c-switch">
                                    <input type="checkbox" checked />
                                    <div>Public</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="engineer-detail__private">
                        <div class="engineer-detail__main">
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">得意とする分野・スキル&nbsp;</h3>
                                <ul class="c-dots">
                                    <li>・システム開発における(企画/要件定義/基本設計/詳細設計/構築/設定/運用保守)</li>
                                    <li>・(ヘルプデスク/テクニカルサポート)業務</li>
                                    <li>・ネットワーク(Cisco/Juniper)の(設計/構築/運用保守)経験</li>
                                    <li>・(Windows/Linux)サーバの(要件定義/基本設計/詳細設計/構築/設定/運用保守)経験</li>
                                    <li>・ベンダとの仕様調整及び調達価格交渉</li>
                                    <li>・◯◯業界の業界知識</li>
                                    <li>・システムセキュリティ強化に伴う(機器選定/運用方針策定/入替/運用)</li>
                                    <li>・チームリーダー経験(最大◯◯名規模)</li>
                                    <li>・IT資産管理</li>
                                    <li>・システム監査対</li>
                                </ul>
                            </div>
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">PCスキル/テクニカルスキル</h3>
                                <div class="engineer-detail__main-table">
                                    <table>
                                        <tbody><tr>
                                            <th>カテゴリ</th>
                                            <th>種別</th>
                                            <th>経験年数</th>
                                            <th>スキルレベル・備考</th>
                                        </tr>
                                        <tr>
                                            <td>担当業務&nbsp;</td>
                                            <td>
                                                <ul class="c-dots">
                                                    <li>・企画</li>
                                                    <li>・要件定義</li>
                                                    <li>・基本設計</li>
                                                    <li>・詳細設計</li>
                                                    <li>・構築、設定</li>
                                                    <li>・開発</li>
                                                    <li>・運用保守</li>
                                                    <li>・テスト</li>
                                                    <li>・ヘルプデスク</li>
                                                    <li>・テクニカルサポート</li>
                                                </ul>
                                            </td>
                                            <td> 5年<br> 5年<br> ◯年<br> 1年<br> ◯年<br> 2年<br> ◯年<br> ◯年<br> ◯年<br> 3年 </td>
                                            <td>リーダー/メンバーとしてクライアントとのやり取り経験あり</td>
                                        </tr>
                                        <tr>
                                            <td>OS</td>
                                            <td> ・Windows<br> ・Linux<br> ・Unix<br> ・MacOS<br> ・CentOS </td>
                                            <td> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年 </td>
                                            <td> 通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用&nbsp; </td>
                                        </tr>
                                        <tr>
                                            <td>言語</td>
                                            <td>
                                                <ul class="c-dots">
                                                    <li>・VBA</li>
                                                    <li>・Java</li>
                                                    <li> ・PHP <ul>
                                                            <li>・Laravel</li>
                                                            <li>・CakePHP</li>
                                                        </ul>
                                                    </li>
                                                    <li> ・Ruby <ul>
                                                            <li>・Ruby on Rails&nbsp;</li>
                                                        </ul>
                                                    </li>
                                                    <li> ・Python <ul>
                                                            <li>・ Django</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td> ◯年<br> ◯年<br>
                                                <br> ◯年<br> ◯年<br>
                                                <br> ◯年<br>
                                                <br> ◯年
                                            </td>
                                            <td>通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>機器</td>
                                            <td> ・Cisco<br> ・YAMAHA<br> ・無線スイッチ<br> ・FW </td>
                                            <td> ◯年<br> ◯年<br> ◯年<br> ◯年 </td>
                                            <td>機器選定が可能/通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>その他ネットワーク、クラウド等&nbsp;</td>
                                            <td> ・Excel<br> ・Word<br> ・PowerPoint<br> ・vsphere<br> ・Hyper-V<br> ・Ansible<br> ・Dpcker<br> ・Xen<br> ・KVM<br> ・AWS<br> ・Azure<br> ・GCP<br> ・Heroku<br> ・Jenkins<br> ・Git<br> ・SVN<br> ・JSP<br> ・VMware<br> ・Docker<br> ・SharePoint<br> ・AD/WSUS<br> ・SKYSEA </td>
                                            <td> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年<br> ◯年 </td>
                                            <td>通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用</td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">職務経歴</h3>
                                <ul class="jobs-list">
                                    <li><span>勤務先 :</span>株式会社 △△</li>
                                    <li><span>勤務期間 :</span>20◯◯年◯◯月～現在</li>
                                    <li><span>資本金 :</span>◯千万円</li>
                                    <li><span>従業員数 :</span>◯◯名</li>
                                </ul>
                                <div class="engineer-detail__main-table engineer-detail__main-table--styles02">
                                    <table>
                                        <tbody><tr>
                                            <th>期間</th>
                                            <th>業務内容</th>
                                            <th>組織・役割/開発環境</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">20◯◯年◯◯月<br> ～<br> 20◯◯年◯◯月</td>
                                            <td> 【プロジェクト内容】<br>・(社内調整/企画/要件定義/基本設計/詳細設計/構築/設定/運用保守/ヘルプデスク/テクニカルサポート)業務 </td>
                                            <td> 【組織】<br>チーム：◯名<br>全体：◯名 </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2"> 【担当業務】<br> ・(社内調整/企画/要件定義/基本設計/詳細設計/構築/設定/運用保守/ヘルプデスク/テクニカルサポート)業務<br> ・保守切れに伴う(影響調査/機器選定/運用方針策定/入替/運用保守)<br> ・システムセキュリティ強化に伴う(機器選定/運用方針策定/入替/運用)<br> ・障害時に（ハードの電源のOFF・ON/回線切替/〇〇測定作業/◯◯交換/原因調査）の対応<br> ・（顧客折衝/資料作成/営業同行）<br> ・メンバーのマネジメント業務(進捗管理/品質管理)<br> ・プロジェクトのマネジメント業務(進捗管理/品質管理/予算管理/リスク管理) </td>
                                            <td> 【役割】<br>メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー </td>
                                        </tr>
                                        <tr>
                                            <td> 【開発環境】<br>Windows<br>Oracle など </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">20◯◯年◯◯月<br>～<br>20◯◯年◯◯月</td>
                                            <td>【プロジェクト内容】<br> ・データメンテナンス作業とシステム入替プロジェクト</td>
                                            <td> 【組織】<br> チーム：◯名<br> 全体：◯名 </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2"> 【担当業務】<br> ・社内システム全般のメンテナンスや売上日報データ管理<br> ・ヘルプデスクとして、社内ユーザーからの一次受付業務<br> ・保守切れに伴う、影響調査及び機種選定(◯台） </td>
                                            <td> 【役割】 メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー </td>
                                        </tr>
                                        <tr>
                                            <td>【開発環境】<br>Windows<br>Oracle など</td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">職務経歴</h3>
                                <ul class="jobs-list">
                                    <li><span>勤務先 :</span>株式会社 △△</li>
                                    <li><span>勤務期間 :</span>20◯◯年◯◯月～現在</li>
                                    <li><span>資本金 :</span>◯千万円</li>
                                    <li><span>従業員数 :</span>◯◯名</li>
                                </ul>
                                <div class="engineer-detail__main-table engineer-detail__main-table--styles02">
                                    <table>
                                        <tbody><tr>
                                            <th>期間</th>
                                            <th>業務内容</th>
                                            <th>組織・役割/開発環境</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">20◯◯年◯◯月<br> ～<br> 20◯◯年◯◯月</td>
                                            <td> 【プロジェクト内容】<br>・(社内調整/企画/要件定義/基本設計/詳細設計/構築/設定/運用保守/ヘルプデスク/テクニカルサポート)業務 </td>
                                            <td> 【組織】<br>チーム：◯名<br>全体：◯名 </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2"> 【担当業務】<br> ・(社内調整/企画/要件定義/基本設計/詳細設計/構築/設定/運用保守/ヘルプデスク/テクニカルサポート)業務<br> ・保守切れに伴う(影響調査/機器選定/運用方針策定/入替/運用保守)<br> ・システムセキュリティ強化に伴う(機器選定/運用方針策定/入替/運用)<br> ・障害時に（ハードの電源のOFF・ON/回線切替/〇〇測定作業/◯◯交換/原因調査）の対応<br> ・（顧客折衝/資料作成/営業同行）<br> ・メンバーのマネジメント業務(進捗管理/品質管理)<br> ・プロジェクトのマネジメント業務(進捗管理/品質管理/予算管理/リスク管理) </td>
                                            <td> 【役割】<br>メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー メンバー/<br>サブリーダー/<br>チームリーダー/<br>プロジェクトリーダー/<br>プロジェクトマネージャー </td>
                                        </tr>
                                        <tr>
                                            <td> 【開発環境】<br>Windows<br>Oracle など </td>
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">資格</h3>
                                <ul class="c-dots c-dots--styles02">
                                    <li>・基本情報技術者 (20◯◯年◯◯月)</li>
                                    <li>・応用情報技術者 (20◯◯年◯◯月)</li>
                                    <li>・CCENT (20◯◯年◯◯月)</li>
                                    <li>・CCNA (20◯◯年◯◯月)</li>
                                    <li>・CCNP (20◯◯年◯◯月)</li>
                                    <li>・CompTIA Security＋(20◯◯年◯◯月)</li>
                                    <li>・NISM (20◯◯年◯◯月)</li>
                                    <li>・ITILファンデーション (20◯◯年◯◯月)</li>
                                    <li>・情報処理安全確保支援士 (20◯◯年◯◯月)</li>
                                </ul>
                            </div>
                            <div class="engineer-detail__main-box">
                                <h3 class="c-ttl__03">自己PR</h3>
                                <div class="engineer-detail__main-pr">
                                    <p>
                                        <strong>上流工程からの一貫した経験</strong> 私は社内SEとして、要件定義をはじめ、提案書・要件書の作成、工数見積もり、運用までの業務を行うことが可能です。普段の業務のなかでも常に新しい技術を吸収し、さらに腕を上げていくように心がけています。<br> また、リーダーとしてクライアントと要件交渉から調整まで行ってきた事もあり、企画からプロジェクトに参画する事が可能です。
                                    </p>
                                    <p>
                                        <strong>プロジェクトマネージャー経験</strong> プロジェクト管理・メンバー育成・顧客折衝・構築業務などにも携わってきました。特にマネジメントに関しては、一作業員でありながら、メンバーの進捗管理やネットワーク知識・提案資料作成・顧客折衝方法の指導を行ってきました。提案・構築・導入、トラブルシューティングまで担当した経験から、様々なトラブルに対する切り分けポイントを把握しております。また、早期のシステム復旧に貢献することが可能です。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="engineer-detail__control">
                            <a href="#" class="c-btn__01">相談する</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>


