<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="company-detail">
			<div class="area-control company-detail__control">
				<div class="breadcrumb">
					<a href="/manpower02/">Công ty cung ứng nhân lực</a><span>Chi tiết công ty</span>
				</div>
				<div class="btn-group">
					<a href="#" class="c-btn__01 c-btn__01--gray">Trở lại</a>
					<a href="#" class="c-btn__01">Chỉnh sửa</a>
				</div>
			</div>
			<div class="cms-wrapper">
				<div class="c-layout company-detail__wp">
					<div class="c-layout__left">
						<h2 class="c-ttl__01">THÔNG TIN CÔNG TY</h2>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Tên công ty:</dt>
							<dd class="company-detail__field-text">The Walt Disney Company</dd>
						</dl>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Email:</dt>
							<dd class="company-detail__field-text">disney@gmail.com</dd>
						</dl>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Số điện thoại:</dt>
							<dd class="company-detail__field-text">0987 123 456</dd>
						</dl>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Trạng thái:</dt>
							<dd class="company-detail__field-text">
								<label class="c-switch">
									<input type="checkbox" checked />
									<div>Đang hoạt động</div>
								</label>
							</dd>
						</dl>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Trạng thái:</dt>
							<dd class="company-detail__field-text">
								<div class="company-detail__field-shortUrl">
									<label class="c-switch">
										<input type="checkbox" checked />
										<div></div>
									</label>
									<a href="#">.../disneycopany</a>
								</div>
							</dd>
						</dl>
						<dl class="company-detail__field">
							<dt class="company-detail__field-label">Ghi chú:</dt>
							<dd class="company-detail__field-text">
								Lorem ipsum dolor sit amet consectetur. Odio ac elementum dui urna sed at enim nibh dolor. Facilisis nulla faucibus egestas faucibus nunc. 
							</dd>
						</dl>
					</div>
					<div class="c-layout__right">
						<h2 class="c-ttl__01">DANH SÁCH ỨNG VIÊN ĐANG QUAN TÂM</h2>
						<div class="c-table c-table--company">
							<table>
								<tr>
									<th>STT</th>
									<th>Mã</th>
									<th>Tên ứng viên</th>
									<th>Số điện thoại</th>
									<th>Email</th>
									<th>Status</th>
									<th>Trạng thái</th>
									<th></th>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status label-status--danger">Ngừng hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status label-status--danger">Ngừng hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status label-status--danger">Ngừng hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td><a href="#" class="txt-link">UV000923</a></td>
									<td>Aoi Katou</td>
									<td>02483904832</td>
									<td>username@gmail.com</td>
									<td class="txt-status">Status</td>
									<td>
										<span class="label-status">Đang hoạt động</span>
									</td>
									<td>
										<button class="btn-action"></button>
										<ul class="action-content">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>