<section class="page-login">
	<div class="switch-language">
		<span class="switch-language__label js-lang"><img src="../img/common/vn.png" alt="Tiếng Việt" width="20">Tiếng Việt</span>
		<ul class="switch-language__list">
			<li><a href="#" data-lang="vi"><img src="../img/common/vn.png" alt="Tiếng Việt" width="20">Tiếng Việt</a></li>
			<li><a href="#" data-lang="jp"><img src="../img/common/jp.png" alt="Tiếng Nhật" width="20">Tiếng Nhật</a></li>
		</ul>
	</div>
	<div class="page-login__wp">
		<h1 class="page-login__logo"><img src="../img/common/logo.png" alt=""></h1>
		<form action="" method="" class="page-login__form">
			<h2 class="page-login__form-ttl">Đăng nhập</h2>
			<span class="error">Tài khoản hoặc mật khẩu của bạn không đúng.</span>
			<dl class="page-login__form-field">
				<dt class="page-login__form-label">Tài khoản</dt>
				<dd class="page-login__form-input">
					<input type="email" class="form-control" placeholder="Nhập email">
				</dd>
			</dl>
			<dl class="page-login__form-field">
				<dt class="page-login__form-label">Mật khẩu</dt>
				<dd class="page-login__form-input">
					<input type="password" class="form-control" id="pass-field" placeholder="Nhập mật khẩu">
					<span class="toggle-pass" toggle="#pass-field"></span>
				</dd>
			</dl>
			<button class="c-btn__01">Đăng nhập</button>
		</div>
	</div>
</section>