<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="master-data">
			<ul class="master-data__sidebar">
				<li><a href="#">業務要約</a></li>
				<li class="is-active"><a href="#">得意とする分野・スキル</a></li>
				<li><a href="#">PCスキル/テクニカルスキル</a></li>
				<li><a href="#">資格</a></li>
				<li><a href="#">Candidate status</a></li>
				<li><a href="#">Contact Us Status</a></li>
			</ul>
			<div class="master-data__content">
				<div class="master-data__heading">
					<ul class="c-tabs">
						<li data-tab="vi">Việt Nam</li>
						<li data-tab="jp" class="is-active">Japan</li>
					</ul>
					<button class="c-btn__01 c-btn__01--add js-show-modal" data-modal="add-skill">Tạo mới</button>
				</div>
				<div class="cms-wrapper">
					<div class="c-table">
						<div class="tree-view">
							<div class="tree-view__heading">
								<div class="menu"></div>
								<div class="btn-acc"></div>
								<div class="stt">STT</div>
								<div class="skill">Kỹ năng</div>
								<div class="place">Place holder</div>
								<div class="action">Hành động</div>
							</div>
							<div class="tree-view__content">
								<div class="tree-view__row">
									<div class="menu"></div>
									<div class="btn-acc js-acc02"></div>
									<div class="stt">1</div>
									<div class="skill">担当業務</div>
									<div class="place">担当業務についてもうちょっと詳しく書きましょう。<br>例）リーダー/メンバーとしてクライアントとのやり取り経験あり</div>
									<div class="action">
										<button class="btn-action"></button>
										<ul class="action-content action-content--lg">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</div>
								</div>
								<div class="tree-view__row">
									<div class="menu"></div>
									<div class="btn-acc js-acc02"></div>
									<div class="stt">2</div>
									<div class="skill">OS・開発環境・ツール</div>
									<div class="place">
										OS・開発環境・ツールについてもうちょっと詳しく書きましょう。<br>
										例1）リーダー/メンバーとしてクライアントとのやり取り経験あり<br>
										OS・開発環境・ツールについてもうちょっと詳しく書きましょう。<br>
										例2）通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用<br>
										例3）インストールから環境構築、設定、開発が可能/調べながらであれば作業可能/自己研鑽/大学で使用
									</div>
									<div class="action">
										<button class="btn-action"></button>
										<ul class="action-content action-content--lg">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</div>
									<div class="tree-view__acc-content">
										<div class="tree-view tree-view--level2">
											<div class="tree-view__heading">
												<div class="menu"></div>
												<div class="btn-acc"></div>
												<div class="stt">STT</div>
												<div class="skill">Kỹ năng</div>
												<div class="place">Place holder</div>
												<div class="action">Hành động</div>
											</div>
											<div class="tree-view__content">
												<div class="tree-view__row">
													<div class="menu"></div>
													<div class="btn-acc"></div>
													<div class="stt">1</div>
													<div class="skill">担当業務</div>
													<div class="place">担当業務についてもうちょっと詳しく書きましょう。<br>例）リーダー/メンバーとしてクライアントとのやり取り経験あり</div>
													<div class="action">
														<button class="btn-action"></button>
														<ul class="action-content action-content--lg">
															<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
															<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
															<li class="action-content__delete"><a href="#">Xoá</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tree-view__row">
									<div class="menu"></div>
									<div class="btn-acc js-acc02" data-acc="acc-content-lv2"></div>
									<div class="stt">3</div>
									<div class="skill">言語・フレームワーク</div>
									<div class="place">
										言語・フレームワーク についてもうちょっと詳しく書きましょう。例）通常使用に問題なしで、指導も可能/通常使用に問題なし/調べながらであれば作業可能/自己研鑽/大学で使用 
									</div>
									<div class="action">
										<button class="btn-action"></button>
										<ul class="action-content action-content--lg">
											<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
											<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
											<li class="action-content__delete"><a href="#">Xoá</a></li>
										</ul>
									</div>
									<div class="tree-view__acc-content acc-content-lv2">
										<div class="tree-view tree-view--level2">
											<div class="tree-view__heading">
												<div class="menu"></div>
												<div class="btn-acc"></div>
												<div class="level">Level 1</div>
												<div class="action">Hành động</div>
											</div>
											<div class="tree-view__content">
												<div class="tree-view__row">
													<div class="menu"></div>
													<div class="btn-acc no-data"></div>
													<div class="level">VBA</div>
													<div class="action">
														<button class="btn-action"></button>
														<ul class="action-content action-content--lg">
															<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
															<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
															<li class="action-content__delete"><a href="#">Xoá</a></li>
														</ul>
													</div>
												</div>
												<div class="tree-view__row">
													<div class="menu"></div>
													<div class="btn-acc js-acc02" data-acc="acc-content-lv3"></div>
													<div class="level">Java</div>
													<div class="action">
														<button class="btn-action"></button>
														<ul class="action-content action-content--lg">
															<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
															<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
															<li class="action-content__delete"><a href="#">Xoá</a></li>
														</ul>
													</div>
													<div class="tree-view__acc-content acc-content-lv3">
														<div class="tree-view tree-view--level3">
															<div class="tree-view__heading">
																<div class="menu"></div>
																<div class="level">Level 2</div>
																<div class="action">Hành động</div>
															</div>
															<div class="tree-view__content">
																<div class="tree-view__row">
																	<div class="menu"></div>
																	<div class="level">Struts</div>
																	<div class="action">
																		<button class="btn-action"></button>
																		<ul class="action-content action-content--lg">
																			<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
																			<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
																			<li class="action-content__delete"><a href="#">Xoá</a></li>
																		</ul>
																	</div>
																</div>
																<div class="tree-view__row">
																	<div class="menu"></div>
																	<div class="level">Spring</div>
																	<div class="action">
																		<button class="btn-action"></button>
																		<ul class="action-content action-content--lg">
																			<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
																			<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
																			<li class="action-content__delete"><a href="#">Xoá</a></li>
																		</ul>
																	</div>
																	<div class="tree-view__acc-content">
																		
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tree-view__row">
													<div class="menu"></div>
													<div class="btn-acc no-data" data-acc="acc-content-lv3"></div>
													<div class="level">PHP</div>
													<div class="action">
														<button class="btn-action"></button>
														<ul class="action-content action-content--lg">
															<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
															<li class="action-content__add-skill"><a href="#" class="js-show-modal" data-modal="add-skillsub">Thêm kỹ năng con</a></li>
															<li class="action-content__delete"><a href="#">Xoá</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('common/_area_footer'); %>
	</div>
</div>

<div class="c-modal create-company" id="add-skill">
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">Thêm mới Lĩnh vực/kỹ năng chuyên môn</h3>
			<div class="create-company__wp">
				<dl class="create-company__field create-company__field--full">
					<dt class="create-company__field-label"><span>*</span>Lĩnh vực/kỹ năng chuyên môn</dt>
					<dd class="create-company__field-input">
						<input type="text" class="form-control" placeholder="Nhập tên kênh">
					</dd>
				</dl>
				<dl class="create-company__field create-company__field--full">
					<dt class="create-company__field-label"><span>*</span>Place holder</dt>
					<dd class="create-company__field-input">
						<textarea name="" id="" cols="30" rows="10" class="form-control form-control--textarea" placeholder="Nhập place holder"></textarea>
					</dd>
				</dl>
			</div>
			<div class="c-modal__control">
				<button class="c-btn__01 c-btn__01--gray js-cancel">Hủy</button>
				<a href="#" class="c-btn__01">Thêm mới</a>
			</div>
		</form>
	</div>
</div>
<div class="c-modal create-company" id="add-skillsub">
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">Thêm mới kỹ năng con cho サーバ</h3>
			<div class="create-company__wp">
				<dl class="create-company__field create-company__field--full">
					<dt class="create-company__field-label"><span>*</span>Lĩnh vực/kỹ năng chuyên môn</dt>
					<dd class="create-company__field-input">
						<input type="text" class="form-control" placeholder="Nhập tên kênh">
					</dd>
				</dl>
			</div>
			<div class="c-modal__control">
				<button class="c-btn__01 c-btn__01--gray js-cancel">Hủy</button>
				<a href="#" class="c-btn__01">Thêm mới</a>
			</div>
		</form>
	</div>
</div>



