<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="system-page">
            <h2 class="system-page__ttl">Bảo trì hệ thống</h2>
            <a href="#" class="c-btn__01 c-btn__01--blue js-show-modal" data-modal="form-logout">Bật chế độ bảo trì</a>
        </div>
    </div>
</div>


<div class="c-modal c-modal--confirm" id="form-logout">
	<span class="c-modal__btn-close js-cancel"></span>
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<span class="c-modal__close"><img src="../img/common/x-close.png" alt="" width="24"></span>
			<h3 class="c-modal__ttl">メンテナンスモード</h3>
			<div class="c-modal__desc">
				メンテナンスモードにしますか。
			</div>
			<div class="c-modal__control">
				<button class="c-btn__01 c-btn__01--gray js-cancel">いいえ</button>
				<a href="/" class="c-btn__01">はい </a>
			</div>
		</form>
	</div>
</div>