<div class="c-table c-table--manpower02">
	<table>
		<tr>
			<th>STT</th>
			<th>Mã công ty</th>
			<th>Tên công ty</th>
			<th>Số điện thoại</th>
			<th>Người đại diện</th>
			<th>Số ứng viên</th>
			<th>Thời gian tạo <button class="btn-sort"><img src="../img/common/ico-sort.png" width="16" alt=""></button>
			</th>
			<th>URL đăng ký ứng viên</th>
			<th>Trạng thái</th>
			<th>Hành động</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Koharu Yamamoto</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../samscompany</a>
					<label class="c-switch">
						<input type="checkbox" />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status label-status--danger">Ngừng hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">CT000223</a></td>
			<td>The Walt Disney Company</td>
			<td>02419023892</td>
			<td>Aoi Katou</td>
			<td>16</td>
			<td>01/01/2022 12:21</td>
			<td class="shortUrl">
				<div class="shortUrl-wp">
					<a href="#" class="shortUrl-txt">.../disneycopany</a>
					<label class="c-switch">
						<input type="checkbox" checked />
						<div></div>
					</label>
				</div>
			</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>