<div class="c-table c-table--company-manager">
	<table>
		<tr>
			<th>STT</th>
			<th>ID</th>
			<th>Tên doanh nghiệp</th>
			<th>Nhân sự</th>
			<th>Dự án</th>
			<th>Địa chỉ</th>
			<th>Thời gian tạo <button class="btn-sort"><img src="../img/common/ico-sort.png" width="16" alt=""></button>
			</th>
			<th>Trạng thái</th>
			<th>Hành động</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="/working_detail/" class="txt-link">VNCO-0150</a></td>
			<td>Seaside Property Group</td>
			<td>51名 ~ 100名</td>
			<td>15</td>
			<td>ホッカイドウ, ナカガワグンビフカチョウ, ヒガシ4ジョウミナミ, 290-1082</td>
			<td>10/01/2022 12:21</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__disabled js-show-modal" data-modal="disable-working"><a href="#">Ngừng hoạt động</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="/draft_detail/" class="txt-link">VNCO-0150</a></td>
			<td>Seaside Property Group</td>
			<td>51名 ~ 100名</td>
			<td>15</td>
			<td>ホッカイドウ, ナカガワグンビフカチョウ, ヒガシ4ジョウミナミ, 290-1082</td>
			<td>10/01/2022 12:21</td>
			<td>
				<span class="label-status label-status--draft">Bản nháp</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__disabled js-show-modal" data-modal="disable-working"><a href="#">Ngừng hoạt động</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="/disabled_working_detail/" class="txt-link">VNCO-0150</a></td>
			<td>Seaside Property Group</td>
			<td>51名 ~ 100名</td>
			<td>15</td>
			<td>ホッカイドウ, ナカガワグンビフカチョウ, ヒガシ4ジョウミナミ, 290-1082</td>
			<td>10/01/2022 12:21</td>
			<td>
				<span class="label-status label-status--danger js-show-modal" data-modal="disable-working">Ngưng hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__disabled"><a href="#">Ngừng hoạt động</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>
