<div class="c-table c-table--faq">
	<table id="sortableTable">
		<thead>
			<tr>
				<th></th>
				<th>STT</th>
				<th>Câu hỏi</th>
				<th>Câu trả lời</th>
				<th>Thời gian tạo</th>
				<th>Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td class="order">1</td>
				<td><a href="#" class="txt-link">Question 1</a></td>
				<td>Answer 1</td>
				<td>01/01/2022 12:21</td>
				<td>
					<button class="btn-action"></button>
					<ul class="action-content">
						<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
						<li class="action-content__delete"><a href="#">Xoá</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="order">2</td>
				<td><a href="#" class="txt-link">Question 2</a></td>
				<td>Answer 2</td>
				<td>01/01/2022 12:21</td>
				<td>
					<button class="btn-action"></button>
					<ul class="action-content">
						<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
						<li class="action-content__delete"><a href="#">Xoá</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="order">3</td>
				<td><a href="#" class="txt-link">Question 3</a></td>
				<td>Answer 3</td>
				<td>01/01/2022 12:21</td>
				<td>
					<button class="btn-action"></button>
					<ul class="action-content">
						<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
						<li class="action-content__delete"><a href="#">Xoá</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="c-modal create-company" id="add-faq">
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<h3 class="c-modal__ttl">Thêm mới câu hỏi thường gặp</h3>
			<div class="create-company__wp">
				<dl class="create-company__field create-company__field--full">
					<dt class="create-company__field-label"><span>*</span>Câu hỏi thường gặp</dt>
					<dd class="create-company__field-input">
						<input type="text" class="form-control" placeholder="Nhập câu hỏi">
					</dd>
				</dl>
				<dl class="create-company__field create-company__field--full">
					<dt class="create-company__field-label"><span>*</span>Câu trả lời</dt>
					<dd class="create-company__field-input">
						<textarea name="" id="" cols="30" rows="10" placeholder="Nhập câu trả lời" class="form-control form-control--textarea"></textarea>
					</dd>
				</dl>
			</div>
			<div class="c-modal__control">
				<button class="c-btn__01 c-btn__01--gray js-cancel">Hủy</button>
				<a href="#" class="c-btn__01">Thêm mới</a>
			</div>
		</form>
	</div>
</div>