<div class="c-table c-table--candidate">
	<table>
		<tr>
			<th>STT</th>
			<th>Mã ứng viên</th>
			<th>Tên ứng viên</th>
			<th>Nguyện vọng làm tại Nhật</th>
			<th>Skill</th>
			<th>Kinh nghiệm</th>
			<th>Lượt quan tâm</th>
			<th>Trạng thái</th>
			<th>Hành động</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status label-status--danger">Ngừng hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish">Có</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--red">Không</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="#" class="txt-link">UV000923</a></td>
			<td>Sana Ito</td>
			<td><span class="txt-swish txt-swish--yl">Xem xét</span></td>
			<td>
				<ul class="list-skill">
					<li>Frontend</li>
					<li>Backend </li>
					<li>Mobile App</li>
				</ul>
			</td>
			<td>5 năm</td>
			<td>15</td>
			<td>
				<span class="label-status">Đang hoạt động</span>
			</td>
			<td>
				<button class="btn-action"></button>
				<ul class="action-content">
					<li class="action-content__edit"><a href="#">Chỉnh sửa</a></li>
					<li class="action-content__delete"><a href="#">Xoá</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>